@CHARSET "UTF-8";

#fm {
	margin: 0;
	padding: 10px 30px;
}

.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem {
	margin-bottom: 5px;
}

.fitem label {
	display: inline-block;
	width: 80px;
}

.fitem input {
	width: 160px;
}
.picture-modalDialog {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 660px;
	height: 100px;
	margin-top: -200px;
	margin-left: -330px;
	background-color: #ffffff;
}
.picture-condition-body {
	position: absolute;
	width: 660px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0px;
	border: 1px solid #CCC;
	background-color: #ffffff;
	box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}
.operation-panel {
	position: absolute;
	width: 640px;
	height: 60px;
	top: 20px;
	left: 10px;
}
.p-label{
	margin-top: 25px;
	width: 650px;
	height: 28px;
	line-height: 28px;
}
.p-submit{
	float:right;
	margin-left:3px;
	width:75px;
	height:27px;
	text-align: center;
	line-height:27px;
}