@CHARSET "UTF-8";


/* #fm-1 th{
	position: relative;
	left: 10px;
	width: 50px;
}

#fm-1 td{
	position: relative;
	left: 10px;
	width: 160px;
}

#fm-1 td a {
	position: relative;
	right: 10px;
} */

.wrap {  
	width:500px;
    text-overflow: ellipsis; /* for IE */  
    -moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;  
    white-space: nowrap;
    text-align: left  
}  