<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.ActivitiUserMapper">
	<insert id="save" useGeneratedKeys="true" keyProperty="ID_">
		<![CDATA[
			INSERT INTO activiti.ACT_ID_USER (
				ID_, 
				REV_, 
				FIRST_, 
				LAST_, 
				EMAIL_,
				PWD_,
				PICTURE_ID_
			) VALUES(
				#{id},
				${rev},
				#{first},
				#{last},
				#{email},
				#{pwd},
				#{pictureId}
			);
		]]>
	</insert>

	

	<delete id="delete">
		<![CDATA[
			DELETE FROM activiti.ACT_ID_USER WHERE ID_ = #{id}
		]]>
	</delete>

</mapper>