<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.EmployeeMapper">

	<resultMap type="Employee" id="EmployeeMap">
		<id property="employeeId" column="employeeId" />
		<result property="employeeLoginName" column="employeeLoginName" />
		<result property="employeeRealName" column="employeeRealName" />
		<result property="employeePassword" column="employeePassword" />
		<result property="employeeImg" column="employeeImg" />
		<result property="employeeDescription" column="employeeDescription" />
		<result property="createDate" column="createDate" />
		<result property="updateDate" column="updateDate" />
		<result property="email" column="email" />
		<result property="phoneNumber" column="phoneNumber" />
		<result property="flag" column="flag" />
	</resultMap>

	<resultMap type="Employee" id="EmployeeRoleMap" extends="EmployeeMap">
		<collection property="roles" ofType="Role">
			<id property="roleId" column="roleId" />
			<result property="roleName" column="roleName" />
			<result property="roleDescription" column="roleDescription" />
			<result property="createDate" column="createDate" />
			<result property="updateDate" column="updateDate" />
		</collection>
	</resultMap>


	<select id="findEmployeeById" resultMap="EmployeeRoleMap">
		<![CDATA[
			SELECT e.EMPLOYEEID AS employeeId,
				   e.EMPLOYEELOGINNAME AS employeeLoginName,
				   e.EMPLOYEEREALNAME AS employeeRealName,
				   e.EMPLOYEEPASSWORD AS employeePassword,
				   e.EMPLOYEEDESCRIPTION AS employeeDescription,
				   e.EMPLOYEEIMG AS employeeImg,
				   e.EMAIL AS email,
				   e.PHONENUMBER AS phoneNumber,
				   DATE_FORMAT(e.UPDATEDATE,'%Y-%m-%d %T') AS uploadDate,
				   r.ROLEID,
				   r.ROLENAME,
				   r.ROLEDESCRIPTION
			FROM EMPLOYEE e 
				   LEFT JOIN EMPLOYEE_ROLE er
				   		ON e.EMPLOYEEID = er.EMPLOYEEID
				   LEFT JOIN ROLE r
				   		ON er.ROLEID = r.ROLEID
			WHERE 1 = 1
					AND e.EMPLOYEEID = ${employeeId}
		]]>
	</select>
	
	<select id="listWithPagination" resultMap="EmployeeRoleMap">
		<![CDATA[
			SELECT e.EMPLOYEEID AS employeeId,
				   e.EMPLOYEELOGINNAME AS employeeLoginName,
				   e.EMPLOYEEREALNAME AS employeeRealName,
				   e.EMPLOYEEDESCRIPTION AS employeeDescription,
				   e.EMPLOYEEIMG AS employeeImg,
				   e.EMAIL AS email,
				   e.PHONENUMBER AS phoneNumber,
				   DATE_FORMAT(e.UPDATEDATE,'%Y-%m-%d %T') AS updateDate,
				   r.ROLEID,
				   r.ROLENAME,
				   r.ROLEDESCRIPTION
			FROM EMPLOYEE e 
				   LEFT JOIN EMPLOYEE_ROLE er
				   		ON e.EMPLOYEEID = er.EMPLOYEEID
				   LEFT JOIN ROLE r
				   		ON er.ROLEID = r.ROLEID
			WHERE 	1 = 1
				AND e.FLAG = 1
		]]>
		<if test="employeeRealName != null and employeeRealName != ''">
			AND e.EMPLOYEEREALNAME LIKE CONCAT(CONCAT('%',#{employeeRealName}),'%')
		</if>
		<![CDATA[
			ORDER BY e.EMPLOYEEID DESC
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<select id="maxSize" resultType="java.lang.Long">
		<![CDATA[
			SELECT COUNT(1)
			FROM EMPLOYEE e 
			WHERE 1 = 1
		]]>
		<if test="employeeRealName != null and employeeRealName != ''">
			AND e.EMPLOYEEREALNAME LIKE CONCAT(CONCAT('%',#{employeeRealName}),'%')
		</if>
	</select>

	<select id="all" resultMap="EmployeeMap">
		<![CDATA[
			SELECT e.EMPLOYEEID AS employeeId,
				   e.EMPLOYEELOGINNAME AS employeeLoginName,
				   e.EMPLOYEEREALNAME AS employeeRealName,
				   e.EMPLOYEEPASSWORD AS employeePassword,
				   e.EMPLOYEEDESCRIPTION AS employeeDescription,
				   e.EMPLOYEEIMG AS employeeImg,
				   e.EMAIL AS email,
				   e.PHONENUMBER AS phoneNumber,
				   DATE_FORMAT(e.UPDATEDATE,'%Y-%m-%d %T') AS updateDate,
			FROM EMPLOYEE e
		]]>
	</select>
	
	<select id="doLogin" resultMap="EmployeeRoleMap">
		<![CDATA[
			SELECT e.EMPLOYEEID,
				   e.EMPLOYEELOGINNAME,
				   e.EMPLOYEEREALNAME,
				   e.EMPLOYEEPASSWORD,
				   e.EMPLOYEEDESCRIPTION,
				   DATE_FORMAT(e.UPDATEDATE,'%Y-%m-%d %T') AS updateDate,
				   r.ROLEID,
				   r.ROLENAME,
				   r.ROLEDESCRIPTION
			FROM EMPLOYEE e 
				   LEFT JOIN EMPLOYEE_ROLE er
				   		ON e.EMPLOYEEID = er.EMPLOYEEID
				   LEFT JOIN ROLE r
				   		ON er.ROLEID = r.ROLEID
			WHERE  e.EMPLOYEELOGINNAME = #{loginName}
			   AND e.EMPLOYEEPASSWORD = #{password}
		]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="employeeId"
		parameterType="Employee">
		<![CDATA[
			INSERT INTO EMPLOYEE(EMPLOYEELOGINNAME,
				   EMPLOYEEREALNAME,
				   EMPLOYEEPASSWORD,
				   EMPLOYEEDESCRIPTION,
				   EMAIL,
				   PHONENUMBER)
			VALUES (
				#{employeeLoginName},
				#{employeeRealName},
				#{employeePassword},
				#{employeeDescription},
				#{email},
				#{phoneNumber})
		]]>
	</insert>
	
	<insert id="saveRelativity">
		<if test="roleIds != null">
			<![CDATA[
				INSERT INTO EMPLOYEE_ROLE(EMPLOYEEID,
					   ROLEID)
				VALUES 
			]]>
			<foreach collection="roleIds" item="roleId"
				separator=",">
				<if test="roleId != 0">
					(${employeeId},${roleId})
				</if>
			</foreach>
		</if>
		
		
	</insert>
	
	<update id="update">
		<![CDATA[
			UPDATE EMPLOYEE
					SET EMPLOYEELOGINNAME = #{employeeLoginName},
						EMPLOYEEREALNAME = #{employeeRealName},
		]]>
			<if test="employeePassword != null and employeePassword != ''">
						EMPLOYEEPASSWORD = #{employeePassword},
			</if>
		<![CDATA[
						EMPLOYEEDESCRIPTION = #{employeeDescription},
						PHONENUMBER = #{phoneNumber},
						EMAIL = #{email},
						UPDATEDATE = CURRENT_TIMESTAMP
			WHERE EMPLOYEEID = ${employeeId}
		]]>
		
	</update>
	
	<delete id="delete">
		<![CDATA[
			DELETE FROM EMPLOYEE
				WHERE EMPLOYEEID = ${employeeId}
		]]>
	</delete>
	
	<delete id="deleteEmployeeRoleLink">
		<![CDATA[
			DELETE FROM EMPLOYEE_ROLE
				WHERE EMPLOYEEID = ${employeeId}
		]]>
	</delete>
	
	
	<update id="updateImagePath">
		<![CDATA[
			UPDATE EMPLOYEE
				SET EMPLOYEEIMG = #{employeeImg}
			WHERE EMPLOYEEID = ${employeeId}
		]]>
	</update>
	
	<update id="editPassword">
		<![CDATA[
			UPDATE EMPLOYEE
				SET EMPLOYEEPASSWORD = #{employeePassword},
					UPDATEDATE = CURRENT_TIMESTAMP
			WHERE PHONENUMBER = ${phoneNumber}
		]]>
	</update>
	
	<select id="checkPhoneNumber" resultType="java.lang.Long">
		<![CDATA[
			SELECT COUNT(1)
				FROM EMPLOYEE
			WHERE PHONENUMBER = #{phoneNumber}
		]]>
	</select>
	
	<select id="findEmployeeByRealName" resultType="Employee">
		<![CDATA[
			SELECT e.EMPLOYEEID AS employeeId,
				   e.EMPLOYEELOGINNAME AS employeeLoginName,
				   e.EMPLOYEEREALNAME AS employeeRealName,
				   e.EMPLOYEEPASSWORD AS employeePassword,
				   e.EMPLOYEEDESCRIPTION AS employeeDescription,
				   e.EMPLOYEEIMG AS employeeImg,
				   e.EMAIL AS email,
				   e.PHONENUMBER AS phoneNumber,
				   DATE_FORMAT(e.UPDATEDATE,'%Y-%m-%d %T') AS updateDate
			FROM EMPLOYEE e 
			LEFT JOIN EMPLOYEE_ROLE inl
			on inl.employeeId = e.employeeId
			LEFT JOIN ROLE r
			on r.roleId = inl.roleId
			WHERE e.EMPLOYEEREALNAME LIKE CONCAT('%',#{employeeRealName},'%') 
			AND e.FLAG =  1
			AND r.roleName like '视频管家%'
		]]>
	</select>
	
	<select id="findEmployeeByRealNameByReffer" resultType="Employee">
		<![CDATA[
			SELECT e.EMPLOYEEID AS employeeId,
				   e.EMPLOYEELOGINNAME AS employeeLoginName,
				   e.EMPLOYEEREALNAME AS employeeRealName,
				   e.EMPLOYEEPASSWORD AS employeePassword,
				   e.EMPLOYEEDESCRIPTION AS employeeDescription,
				   e.EMPLOYEEIMG AS employeeImg,
				   e.EMAIL AS email,
				   e.PHONENUMBER AS phoneNumber,
				   DATE_FORMAT(e.UPDATEDATE,'%Y-%m-%d %T') AS updateDate
			FROM EMPLOYEE e 
			WHERE e.EMPLOYEEREALNAME LIKE CONCAT('%',#{employeeRealName},'%') 
			AND e.FLAG =  1
		]]>
	</select>
	
	<select id="getEmployeeList" resultType="Employee">
		<![CDATA[
			SELECT e.EMPLOYEEID AS employeeId,
				   e.EMPLOYEEREALNAME AS employeeRealName
			FROM EMPLOYEE e
			WHERE e.FLAG = 1
		]]>
	</select>
	
	<select id="getEmployeeMap" resultType="Employee">
		<![CDATA[
			SELECT e.EMPLOYEEID AS employeeId,
				   e.EMPLOYEEREALNAME AS employeeRealName 
			FROM EMPLOYEE e 
			WHERE e.FLAG = 1
		]]>
	</select>
	
</mapper>