<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.IndentProjectMapper">

	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="IndentProject">
		<![CDATA[
		INSERT INTO INDENT_PROJECT (
			IP_PROJECT_NAME,
			IP_USER_CONTACT,
			IP_USER_PHONE,
			IP_TEAM_CONTACT,
			IP_TEAM_PHONE,
			IP_USER_TYPE,
			IP_USER_ID,
			IP_DESCRIPTION,
			IP_SERIAL,
			IP_SOURCE,
			IP_CUSTOMERID,
			IP_STATE,
			IP_TEAMID,
			IP_PRICE_FIRST,
			IP_PRICE_LAST,
			IP_PRICE_FINISH,
			IP_REFERRER_ID,
			IP_CUSTOMER_PAYMENT,
			IP_PROVIDER_PAYMENT
		)VALUES (
			#{projectName},
			#{userContact},
			#{userPhone},
			#{teamContact},
			#{teamPhone},
			#{userType},
			${userId},
			#{description},
			#{serial},
			#{source},
			${customerId},
			]]>
		<if test="state != null and state != '' ">
			${state},
		</if>
		<if test="state == null or state == '' ">
			0,
		</if>
		<if test="teamId != null and teamId != '' ">
			${teamId},
		</if>
		<if test="teamId == null or teamId == '' ">
			0,
		</if>

		<if test="priceFirst != null and priceFirst != '' ">
			${priceFirst},
		</if>
		<if test="priceFirst == null or priceFirst == '' ">
			0,
		</if>

		<if test="priceLast != null and priceLast != '' ">
			${priceLast},
		</if>
		<if test="priceLast == null or priceLast == '' ">
			0,
		</if>

		<if test="priceFinish != null and priceFinish != '' ">
			${priceFinish},
		</if>
		<if test="priceFinish == null or priceFinish == '' ">
			0,
		</if>

		<if test="referrerId != null and referrerId != '' ">
			${referrerId},
		</if>
		<if test="referrerId == null or referrerId == '' ">
			0,
		</if>

		<if test="customerPayment != null and customerPayment != '' ">
			${customerPayment},
		</if>
		<if test="customerPayment == null or customerPayment == '' ">
			0,
		</if>

		<if test="providerPayment != null and providerPayment != '' ">
			${providerPayment}
		</if>
		<if test="providerPayment == null or providerPayment == '' ">
			0
		</if>
			<![CDATA[
		);
		]]>
	</insert>

	<update id="update">
		<![CDATA[
			UPDATE INDENT_PROJECT i SET 
				i.IP_PROJECT_NAME =#{projectName} ,
				i.IP_USER_CONTACT =#{userContact} ,
				i.IP_USER_PHONE=#{userPhone} ,
				i.IP_TEAM_CONTACT =#{teamContact} ,
				i.IP_TEAM_PHONE =#{teamPhone},
				i.IP_DESCRIPTION = #{description},
				i.IP_SERIAL=#{serial},
				i.IP_SOURCE=#{source},
				i.IP_CUSTOMERID=${customerId},
				i.IP_TEAMID=#{teamId},
				i.IP_UPDATE_TIME=CURRENT_TIMESTAMP
				]]>
		<if test="userType != null and userType != ''">
			,i.IP_USER_TYPE=#{userType}		
		</if>
		<if test="userId != null">
			,i.IP_USER_ID=${userId}
		</if>
		<if test="state != null ">
			,i.IP_STATE=${state}
		</if>
		<if test="priceFirst != null and priceFirst != ''">
			,i.IP_PRICE_FIRST=${priceFirst}
		</if>
		<if test="priceLast != null and priceLast != ''">
			,i.IP_PRICE_LAST=${priceLast}
		</if>

		<if test="priceFinish != null and priceFinish != ''">
			,i.IP_PRICE_FINISH=${priceFinish}
		</if>

		<if test="referrerId != null and referrerId != ''">
			,i.IP_REFERRER_ID = ${referrerId}
		</if>

		<if test="referrerId == 0">
			,i.IP_REFERRER_ID = ${referrerId}
		</if>

		<if test="customerPayment != null and customerPayment != ''">
			,i.IP_CUSTOMER_PAYMENT = ${customerPayment}
		</if>

		<if test="customerPayment == 0">
			,i.IP_CUSTOMER_PAYMENT = 0
		</if>

		<if test="providerPayment != null and providerPayment != ''">
			,i.IP_PROVIDER_PAYMENT = ${providerPayment}
		</if>

		<if test="providerPayment == 0">
			,i.IP_PROVIDER_PAYMENT = 0
		</if>
			
		<![CDATA[
			WHERE i.IP_ID = ${id}
		]]>
	</update>
	<update id="updateSynergy">
		<![CDATA[
			UPDATE INDENT_PROJECT i SET 
				i.IP_PROJECT_NAME =#{projectName} ,
				i.IP_USER_CONTACT =#{userContact} ,
				i.IP_USER_PHONE=#{userPhone} ,
				i.IP_TEAM_CONTACT =#{teamContact} ,
				i.IP_TEAM_PHONE =#{teamPhone},
				i.IP_DESCRIPTION = #{description},
				i.IP_SERIAL=#{serial},
				i.IP_SOURCE=#{source},
				i.IP_CUSTOMERID=${customerId},
				i.IP_TEAMID=${teamId},
				i.IP_UPDATE_TIME=CURRENT_TIMESTAMP
				]]>
		<if test="state != null ">
			,i.IP_STATE=${state}
		</if>
		<if test="priceFirst != null and priceFirst != ''">
			,i.IP_PRICE_FIRST=${priceFirst}
		</if>
		<if test="priceLast != null and priceLast != ''">
			,i.IP_PRICE_LAST=${priceLast}
		</if>

		<if test="priceFinish != null and priceFinish != ''">
			,i.IP_PRICE_FINISH=${priceFinish}
		</if>

		<if test="referrerId != null and referrerId != ''">
			,i.IP_REFERRER_ID = ${referrerId}
		</if>

		<if test="referrerId == 0">
			,i.IP_REFERRER_ID = ${referrerId}
		</if>

		<if test="customerPayment != null and customerPayment != ''">
			,i.IP_CUSTOMER_PAYMENT = ${customerPayment}
		</if>

		<if test="customerPayment == 0">
			,i.IP_CUSTOMER_PAYMENT = 0
		</if>

		<if test="providerPayment != null and providerPayment != ''">
			,i.IP_PROVIDER_PAYMENT = ${providerPayment}
		</if>

		<if test="providerPayment == 0">
			,i.IP_PROVIDER_PAYMENT = 0
		</if>
			
		<![CDATA[
			WHERE i.IP_ID = ${id}
		]]>
	</update>

	<update id="cancelProject" parameterType="long">
		<![CDATA[
			UPDATE INDENT_PROJECT i
				SET i.IP_STATE=${state},
					i.IP_UPDATE_TIME=CURRENT_TIMESTAMP
		]]>
		<if test="description != null and description != ''  ">
			,i.IP_DESCRIPTION = #{description}
		</if>
		<![CDATA[
			WHERE i.IP_ID = ${id}
		]]>
	</update>

	<update id="updateState" parameterType="long">
		<![CDATA[
			UPDATE INDENT_PROJECT i
				SET i.IP_STATE=${state},
					i.IP_UPDATE_TIME=CURRENT_TIMESTAMP
		]]>
		<if test="description != null and description != ''  ">
			,i.IP_DESCRIPTION = #{description}
		</if>
		<![CDATA[
			WHERE i.IP_ID = ${id}
		]]>
	</update>
	
	<update id="updateSerialID">
		<![CDATA[
			UPDATE INDENT_PROJECT i
				SET i.IP_SERIAL = #{serial}
			WHERE
				i.IP_ID = ${id}
		]]>
	</update>

	<delete id="deleteById">
		<![CDATA[
			DELETE FROM INDENT_PROJECT
				WHERE IP_ID = ${projectId}
		]]>
	</delete>
	
	<select id="findProjectList" resultType="IndentProject">
		<![CDATA[
			SELECT
				i.IP_ID AS id,
				i.IP_PROJECT_NAME AS projectName,
				i.IP_USER_CONTACT AS userContact,
				i.IP_USER_PHONE AS userPhone,
				i.IP_TEAM_CONTACT AS teamContact,
				i.IP_TEAM_PHONE AS teamPhone,
				i.IP_USER_TYPE AS userType,
				i.IP_USER_ID AS userId,
				i.IP_DESCRIPTION AS description,
				i.IP_SERIAL AS serial,
				i.IP_SOURCE AS source,
				i.IP_STATE AS state,
				i.IP_CUSTOMERID AS customerId,
				i.IP_TEAMID AS teamId,
				u.USERNAME AS userName,
				u.CLIENTLEVEL AS clientLevel,
				t.TEAMNAME AS teamName,
				i.IP_PRICE_FIRST AS priceFirst,
				i.IP_PRICE_LAST AS priceLast,
				i.IP_PRICE_FINISH AS priceFinish,
				e.employeeRealName AS referrerName,
				i.ip_referrer_id AS referrerId,
				DATE_FORMAT(
					i.IP_CREATE_TIME,
					'%Y-%m-%d %T'
				) AS createTime,
				i.IP_CUSTOMER_PAYMENT AS customerPayment,
				i.IP_PROVIDER_PAYMENT AS providerPayment
			FROM
				INDENT_PROJECT i
			LEFT JOIN USERS u ON i.ip_customerId = u.id
			LEFT JOIN TEAM t ON i.ip_teamId = t.teamId
			LEFT JOIN EMPLOYEE e ON i.ip_referrer_id = e.employeeId
			WHERE
				i.IP_USER_ID = ${userId}
			OR i.ip_id IN (
				SELECT
					s.s_project_id
				FROM
					SYNERGY s
				WHERE
					s_user_id = ${userId}
			)
			ORDER BY
				i.IP_UPDATE_TIME DESC,
				i.IP_ID DESC
		]]>
	</select>

	<select id="findProjectInfo" resultType="IndentProject">
		<![CDATA[
			SELECT 
				i.IP_ID AS id,
				i.IP_PROJECT_NAME AS projectName,
				i.IP_USER_CONTACT AS userContact,
				i.IP_USER_PHONE AS userPhone,
				i.IP_TEAM_CONTACT AS teamContact,
				i.IP_TEAM_PHONE AS teamPhone,
				i.IP_USER_TYPE AS userType,
				i.IP_USER_ID AS userId,
				i.IP_DESCRIPTION AS description,
				i.IP_SERIAL AS serial,
				i.IP_SOURCE AS source,
				i.IP_STATE AS state,
				i.IP_CUSTOMERID AS customerId,
				i.IP_TEAMID AS teamId,
				u.USERNAME AS userName,
				u.CLIENTLEVEL AS clientLevel,
				t.TEAMNAME AS  teamName,
				i.IP_PRICE_FIRST AS priceFirst,
				i.IP_PRICE_LAST AS priceLast,
				i.IP_PRICE_FINISH AS priceFinish,
				e.employeeRealName AS referrerName,
				i.ip_referrer_id AS referrerId,
				DATE_FORMAT(i.IP_CREATE_TIME,'%Y-%m-%d %T') AS createTime,
				i.IP_CUSTOMER_PAYMENT AS customerPayment,
				i.IP_PROVIDER_PAYMENT AS providerPayment
				
			FROM INDENT_PROJECT i 
			LEFT JOIN USERS u on i.ip_customerId=u.id 
			LEFT JOIN TEAM t ON i.ip_teamId = t.teamId
			LEFT JOIN EMPLOYEE e ON i.ip_referrer_id = e.employeeId
     	WHERE i.IP_ID =${id}
		]]>
	</select>

	<select id="findProjectByUserName" resultType="IndentProject">
		<![CDATA[
			SELECT 
				i.IP_ID AS id,
				i.IP_PROJECT_NAME AS projectName,
				i.IP_USER_CONTACT AS userContact,
				i.IP_USER_PHONE AS userPhone,
				i.IP_TEAM_CONTACT AS teamContact,
				i.IP_TEAM_PHONE AS teamPhone,
				i.IP_USER_TYPE AS userType,
				i.IP_USER_ID AS userId,
				i.IP_DESCRIPTION AS description,
				i.IP_SERIAL AS serial,
				i.IP_SOURCE AS source,
				i.IP_STATE AS state,
				i.IP_CUSTOMERID AS customerId,
				i.IP_TEAMID AS teamId,
				u.USERNAME AS userName,
				u.CLIENTLEVEL AS clientLevel,
				t.TEAMNAME AS  teamName,
				i.IP_PRICE_FIRST AS priceFirst,
				i.IP_PRICE_LAST AS priceLast,
				i.IP_PRICE_FINISH AS priceFinish,
				e.employeeRealName AS referrerName,
				i.IP_REFERRER_ID AS referrerId,
				DATE_FORMAT(i.IP_CREATE_TIME,'%Y-%m-%d %T') AS createTime,
				i.IP_CUSTOMER_PAYMENT AS customerPayment,
				i.IP_PROVIDER_PAYMENT AS providerPayment
				
			FROM INDENT_PROJECT i 
			LEFT JOIN USERS u on i.ip_customerId=u.id 
			LEFT JOIN TEAM t ON i.ip_teamId = t.teamId
			LEFT JOIN EMPLOYEE e ON i.ip_referrer_id = e.employeeId
     		WHERE 1=1	
		]]>
		<if test="customerId != null and customerId != ''  ">
			AND i.IP_CUSTOMERID = ${customerId}
		</if>
		<if test="teamId != null and teamId != '' ">
			AND i.IP_TEAMID = ${teamId}
		</if>
		<if
			test="(customerId == null or customerId == '' ) and (teamId == null or teamId == '' ) ">
			AND 1=2
		</if>
	</select>

	<select id="listWithPagination" resultType="IndentProject">
		<![CDATA[
			SELECT  i.IP_ID AS id,
					i.IP_PROJECT_NAME AS projectName,
					u.USERNAME AS userName,
					u.CLIENTLEVEL AS clientLevel,
					i.IP_USER_CONTACT AS userContact,
					i.IP_USER_PHONE AS userPhone,
					t.TEAMNAME AS teamName,
					i.IP_TEAM_CONTACT AS teamContact,
					i.IP_TEAM_PHONE AS teamPhone,
					i.IP_USER_TYPE AS userType,
					i.IP_USER_ID AS userId,
					i.IP_DESCRIPTION AS description,
					i.IP_SERIAL AS serial,
					i.IP_SOURCE AS source,
					i.IP_STATE AS state,
					i.IP_CUSTOMERID	AS customerId,
					i.ip_teamId AS teamId,
					i.IP_PRICE_FIRST AS priceFirst,
					i.IP_PRICE_LAST AS priceLast,
					i.IP_PRICE_FINISH AS priceFinish,
					i.IP_REFERRER_ID AS referrerId,
					DATE_FORMAT(i.IP_CREATE_TIME,'%Y-%m-%d %T') AS createTime,
					i.IP_CUSTOMER_PAYMENT AS customerPayment,
					i.IP_PROVIDER_PAYMENT AS providerPayment
				
			FROM INDENT_PROJECT i 
			LEFT JOIN USERS u 
				ON i.IP_CUSTOMERID=u.id 
			LEFT JOIN TEAM t
				ON i.IP_TEAMID=t.teamId
			WHERE 1 = 1
		]]>

		<if test="projectId != null and projectId != ''">
			AND i.IP_ID = ${projectId}
		</if>
		<!--add by wanglc 2016-7-4 16:25:51 添加项目名称模糊查询  begin-->
		<if test="projectName != null and projectName != ''">
			AND i.IP_PROJECT_NAME LIKE CONCAT('%',#{projectName},'%')  
		</if>
		<!--add by wanglc 2016-7-4 16:25:51 添加项目名称模糊查询  begin-->
		<if test="state != null and state != ''">
			AND i.IP_STATE = ${state}
		</if>

		<if test="state == 0">
			AND i.IP_STATE = ${state}
		</if>

		<if test="userId != null and userId != ''">
			AND i.IP_USER_ID = ${userId}
		</if>

		<!--add by wanglc 2016-7-4 16:25:03 添加供应商模糊查询 begin  -->
		<if test="teamName != null and teamName != ''">
			AND t.TEAMNAME LIKE CONCAT('%',#{teamName},'%') 
		</if>
		<!--add by wanglc 2016-7-4 16:25:03 添加供应商模糊查询 end  -->
		
		<if test="teamId != null and teamId != ''">
			AND i.ip_teamId = ${teamId}
		</if>

		<if test="source != null and source != ''">
			AND i.IP_SOURCE = #{source}
		</if>
		<!--modify by wanglc 2016-7-19 14:57:46修改为id倒序 begin
		 ORDER BY i.IP_UPDATE_TIME DESC  -->
		<![CDATA[
			ORDER BY i.IP_ID DESC
			LIMIT ${begin} , ${limit}
		]]>
	</select>

	<select id="maxSize" resultType="java.lang.Long">
		<![CDATA[
		SELECT COUNT(*)FROM	
		(SELECT DISTINCT(i.IP_ID)
		FROM INDENT_PROJECT i
		LEFT JOIN SYNERGY s
			ON s.s_project_id=i.ip_id 
		LEFT JOIN TEAM t
			ON i.IP_TEAMID=t.teamId
		LEFT JOIN USERS u 
			ON i.IP_CUSTOMERID=u.id 
		LEFT JOIN INDENT_FLOW F 
			ON F.IF_INDENT_ID = i.IP_ID
		LEFT JOIN ACT_RU_TASK RES
			ON F.IF_FLOW_ID = RES.PROC_INST_ID_
		WHERE 1=1
		]]>
		<if test="projectId != null and projectId != ''">
			AND i.IP_ID = ${projectId}
		</if>
		<if test="projectName != null and projectName != ''">
			AND IP_PROJECT_NAME LIKE CONCAT('%',#{projectName},'%')  
		</if>
		<if test="state != null and state != ''">
			AND i.IP_STATE = #{state}
		</if>
		<if test="state == 0">
			AND i.IP_STATE = ${state}
		</if>
		<if test=" isSynergy != 1 and userId != null and userId != ''">
			AND i.IP_USER_ID = ${userId}
		</if>
		<if test="teamName != null and teamName != ''">
			AND t.TEAMNAME LIKE CONCAT('%',#{teamName},'%') 
		</if>
		<if test="customerId != null and customerId != '' and customerId != 0">
			AND u.ID = ${customerId}
		</if>
		<if test="teamId != null and teamId != ''">
			AND i.ip_teamId = ${teamId}
		</if>
		<if test="source != null and source != ''">
			AND i.IP_SOURCE = #{source}
		</if>
		<if test="isSynergy == 1">
			AND (s.S_USER_ID = ${userId} OR i.IP_USER_ID = ${userId})
		</if>
		<if test="stage != null and stage != ''">
			AND RES.NAME_ LIKE CONCAT('%',#{stage},'%')
		</if>
		<![CDATA[
		)t
		]]>
	</select>
	<select id="getAllUser" resultType="IndentProject">
		<![CDATA[
			SELECT u.ID AS customerId,
				   u.USERNAME AS userName,
				   u.TELEPHONE AS userPhone,
				   u.REALNAME as userContact
			FROM USERS u
		]]>
	</select>
	<select id="getAllTeam" resultType="IndentProject">
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.LINKMAN AS teamContact,
				   t.PHONENUMBER AS teamPhone
			FROM TEAM t
			WHERE 1 = 1
				AND TEAMNAME != ''
				AND t.flag = 1
		]]>
	</select>

	<select id="getAllVersionManager" resultType="IndentProject">
		<![CDATA[
			SELECT e.EMPLOYEEID AS userId,
				   e.EMPLOYEEREALNAME AS employeeRealName
			FROM EMPLOYEE e 
			WHERE 1 = 1
				AND e.FLAG = 1
		]]>
	</select>

	<select id="getAllProject" resultType="IndentProject">
		<![CDATA[
			SELECT 
				i.IP_ID AS id,
				i.IP_PROJECT_NAME AS projectName
			FROM INDENT_PROJECT i 
			WHERE 1 = 1
		]]>
	</select>

	<select id="getProjectCount" resultType="long">
		<![CDATA[
			SELECT COUNT(*) FROM INDENT_PROJECT i 
			WHERE i.IP_STATE IN(0,1,2) 
			AND 
			DATE_FORMAT(i.IP_CREATE_TIME,'%Y')=YEAR(CURDATE());
		]]>
	</select>

	<select id="findProjectByIds" resultType="IndentProject">
	<![CDATA[
		SELECT 
				i.IP_ID AS id,
				i.IP_PROJECT_NAME AS projectName,
				i.IP_USER_CONTACT AS userContact,
				i.IP_USER_PHONE AS userPhone,
				i.IP_TEAM_CONTACT AS teamContact,
				i.IP_TEAM_PHONE AS teamPhone,
				i.IP_USER_TYPE AS userType,
				i.IP_USER_ID AS userId,
				i.IP_DESCRIPTION AS description,
				i.IP_SERIAL AS serial,
				i.IP_SOURCE AS source,
				i.IP_STATE AS state,
				i.IP_CUSTOMERID AS customerId,
				i.IP_TEAMID AS teamId,
				u.USERNAME AS userName,
				u.CLIENTLEVEL AS clientLevel,
				t.TEAMNAME AS  teamName,
				i.IP_PRICE_FIRST AS priceFirst,
				i.IP_PRICE_LAST AS priceLast,
				i.IP_PRICE_FINISH AS priceFinish,
				e.employeeRealName AS referrerName,
				i.ip_referrer_id AS referrerId,
				DATE_FORMAT(i.IP_CREATE_TIME,'%Y-%m-%d %T') AS createTime,
				i.IP_CUSTOMER_PAYMENT AS customerPayment,
				i.IP_PROVIDER_PAYMENT AS providerPayment
			FROM INDENT_PROJECT i 
			LEFT JOIN USERS u on i.ip_customerId=u.id 
			LEFT JOIN TEAM t ON i.ip_teamId = t.teamId
			LEFT JOIN EMPLOYEE e ON i.ip_referrer_id = e.employeeId
     		WHERE IP_ID IN
     	]]>
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			${item}
		</foreach>
		<![CDATA[
     		ORDER BY i.IP_UPDATE_TIME DESC,i.IP_ID DESC
     	]]>
	</select>

	<select id="all" resultType="IndentProject">
		<![CDATA[
			SELECT 
				i.IP_ID AS id,
				i.IP_ID AS projectId,
				i.IP_PROJECT_NAME AS projectName
				
			FROM INDENT_PROJECT i 
     		WHERE  1 = 1
		]]>
	</select>
	<select id="listWithPaginationAddSynergy" resultType="IndentProject">
		<![CDATA[
			SELECT  i.IP_ID AS id,
					i.IP_PROJECT_NAME AS projectName,
					u.USERNAME AS userName,
					u.CLIENTLEVEL AS clientLevel,
					i.IP_USER_CONTACT AS userContact,
					i.IP_USER_PHONE AS userPhone,
					t.TEAMNAME AS teamName,
					i.IP_TEAM_CONTACT AS teamContact,
					i.IP_TEAM_PHONE AS teamPhone,
					i.IP_USER_TYPE AS userType,
					i.IP_USER_ID AS userId,
					i.IP_DESCRIPTION AS description,
					i.IP_SERIAL AS serial,
					i.IP_SOURCE AS source,
					i.IP_STATE AS state,
					i.IP_CUSTOMERID	AS customerId,
					i.ip_teamId AS teamId,
					i.IP_PRICE_FIRST AS priceFirst,
					i.IP_PRICE_LAST AS priceLast,
					i.IP_PRICE_FINISH AS priceFinish,
					i.IP_REFERRER_ID AS referrerId,
					DATE_FORMAT(i.IP_CREATE_TIME,'%Y-%m-%d %T') AS createTime,
					i.IP_CUSTOMER_PAYMENT AS customerPayment,
					i.IP_PROVIDER_PAYMENT AS providerPayment,
					RES.NAME_   AS stage
				
			FROM INDENT_PROJECT i 
			LEFT JOIN USERS u 
				ON i.IP_CUSTOMERID=u.id 
			LEFT JOIN TEAM t
				ON i.IP_TEAMID=t.teamId
			LEFT JOIN SYNERGY s
				ON s.s_project_id=i.ip_id
			LEFT JOIN INDENT_FLOW F 
				ON F.IF_INDENT_ID = i.IP_ID
			LEFT JOIN ACT_RU_TASK RES
				ON F.IF_FLOW_ID = RES.PROC_INST_ID_
			WHERE 1 = 1
			AND s.S_USER_ID = ${userId}
		]]>
		<if test="projectId != null and projectId != ''">
			AND i.IP_ID = ${projectId}
		</if>
		<if test="projectName != null and projectName != ''">
			AND i.IP_PROJECT_NAME LIKE CONCAT('%',#{projectName},'%')  
		</if>
		<if test="state != null and state != ''">
			AND i.IP_STATE = ${state}
		</if>

		<if test="state == 0">
			AND i.IP_STATE = ${state}
		</if>
		<if test="teamId != null and teamId != ''">
			AND i.ip_teamId = ${teamId}
		</if>
		<if test="teamName != null and teamName != ''">
			AND t.TEAMNAME LIKE CONCAT('%',#{teamName},'%') 
		</if>
		<if test="source != null and source != ''">
			AND i.IP_SOURCE = #{source}
		</if>
		<if test="customerId != null and customerId != '' and customerId != 0">
			AND u.ID = ${customerId}
		</if>
		<if test="stage != null and stage != ''">
			AND RES.NAME_ LIKE CONCAT('%',#{stage},'%')
		</if>
		<![CDATA[
			ORDER BY i.IP_ID DESC
		]]>
	</select>	
	<select id="listWithPaginationNoLimit" resultType="IndentProject">
		<![CDATA[
			SELECT  i.IP_ID AS id,
					i.IP_PROJECT_NAME AS projectName,
					u.USERNAME AS userName,
					u.CLIENTLEVEL AS clientLevel,
					i.IP_USER_CONTACT AS userContact,
					i.IP_USER_PHONE AS userPhone,
					t.TEAMNAME AS teamName,
					i.IP_TEAM_CONTACT AS teamContact,
					i.IP_TEAM_PHONE AS teamPhone,
					i.IP_USER_TYPE AS userType,
					i.IP_USER_ID AS userId,
					i.IP_DESCRIPTION AS description,
					i.IP_SERIAL AS serial,
					i.IP_SOURCE AS source,
					i.IP_STATE AS state,
					i.IP_CUSTOMERID	AS customerId,
					i.ip_teamId AS teamId,
					i.IP_PRICE_FIRST AS priceFirst,
					i.IP_PRICE_LAST AS priceLast,
					i.IP_PRICE_FINISH AS priceFinish,
					i.IP_REFERRER_ID AS referrerId,
					DATE_FORMAT(i.IP_CREATE_TIME,'%Y-%m-%d %T') AS createTime,
					i.IP_CUSTOMER_PAYMENT AS customerPayment,
					i.IP_PROVIDER_PAYMENT AS providerPayment,
					RES.NAME_   AS stage
				
			FROM INDENT_PROJECT i 
			LEFT JOIN USERS u 
				ON i.IP_CUSTOMERID=u.id 
			LEFT JOIN TEAM t
				ON i.IP_TEAMID=t.teamId
			LEFT JOIN INDENT_FLOW F 
				ON F.IF_INDENT_ID = i.IP_ID
			LEFT JOIN ACT_RU_TASK RES
				ON F.IF_FLOW_ID = RES.PROC_INST_ID_
			WHERE 1 = 1
		]]>

		<if test="projectId != null and projectId != ''">
			AND i.IP_ID = ${projectId}
		</if>
		<if test="projectName != null and projectName != ''">
			AND i.IP_PROJECT_NAME LIKE CONCAT('%',#{projectName},'%')  
		</if>
		<if test="state != null and state != ''">
			AND i.IP_STATE = ${state}
		</if>

		<if test="state == 0">
			AND i.IP_STATE = ${state}
		</if>

		<if test="userId != null and userId != ''">
			AND i.IP_USER_ID = ${userId}
		</if>

		<if test="teamName != null and teamName != ''">
			AND t.TEAMNAME LIKE CONCAT('%',#{teamName},'%') 
		</if>
		
		<if test="teamId != null and teamId != ''">
			AND i.ip_teamId = ${teamId}
		</if>

		<if test="source != null and source != ''">
			AND i.IP_SOURCE = #{source}
		</if>
		
		<if test="customerId != null and customerId != '' and customerId != 0">
			AND u.ID = ${customerId}
		</if>
		<if test="stage != null and stage != ''">
			AND RES.NAME_ LIKE CONCAT('%',#{stage},'%')
		</if>
		<![CDATA[
			ORDER BY i.IP_ID DESC
		]]>
	</select>
</mapper>