<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.IndentFlowMapper">

	<cache />

	<select id="findFlowByIndentId" resultType="IndentFlow">
		<![CDATA[
            SELECT 
            f.IF_ID AS ifId,
            f.IF_FLOW_ID AS ifFlowId,
            f.IF_INDENT_ID AS ifIndentId,
            f.IF_STATE AS ifState
            FROM INDENT_FLOW f 
            WHERE f.IF_INDENT_ID=${id}
		]]>
	</select>

	<select id="findFlowDateByIndentId" resultType="IndentFlow"
		useCache="false">
		<![CDATA[
            SELECT 
            f.IF_ID AS ifId,
            f.IF_FLOW_ID AS ifFlowId,
            f.IF_INDENT_ID AS ifIndentId,
            f.IF_STATE AS ifState,
            
            fd.FD_ID AS fdId,
			fd.FD_FLOW_ID AS fdFlowId,
			DATE_FORMAT(fd.FD_STARTTIME,'%Y-%m-%d') AS fdStartTime,
			fd.FD_TASK_ID  AS fdTaskId
            
            FROM INDENT_FLOW f
            LEFT JOIN 
            FLOW_DATE fd 
            ON 
            	f.IF_FLOW_ID=fd.FD_FLOW_ID 
			HAVING  f.IF_INDENT_ID =${id}
			AND 
				f.IF_STATE ='Y'
		]]>
	</select>

	<select id="findFlowDateByFlowKey" resultType="IndentFlow"
		useCache="false">
		<![CDATA[
            SELECT 
            f.IF_ID AS ifId,
            f.IF_FLOW_ID AS ifFlowId,
            f.IF_INDENT_ID AS ifIndentId,
            f.IF_STATE AS ifState,
            
            fd.FD_ID AS fdId,
			fd.FD_FLOW_ID AS fdFlowId,
			DATE_FORMAT(fd.FD_STARTTIME,'%Y-%m-%d') AS fdStartTime,
			fd.FD_TASK_ID  AS fdTaskId
            
            FROM INDENT_FLOW f
            LEFT JOIN 
            FLOW_DATE fd 
            ON 
            	f.IF_FLOW_ID=fd.FD_FLOW_ID 
			HAVING  f.IF_INDENT_ID =${id}
			AND 
				f.IF_STATE ='Y'
			and
				fd.FD_TASK_ID = #{key}
		]]>
	</select>

	<select id="findFlowById" resultType="IndentFlow">
		<![CDATA[
            SELECT 
            f.IF_ID AS ifId,
            f.IF_FLOW_ID AS ifFlowId,
            f.IF_INDENT_ID AS ifIndentId,
            f.IF_STATE AS ifState
            FROM INDENT_FLOW f 
            WHERE f.IF_ID=${flowid}
		]]>
	</select>
	<select id="findFlowByProcessId" resultType="IndentFlow">
		<![CDATA[
            SELECT 
            f.IF_ID AS ifId,
            f.IF_FLOW_ID AS ifFlowId,
            f.IF_INDENT_ID AS ifIndentId,
            f.IF_STATE AS ifState
            FROM INDENT_FLOW f 
            WHERE f.IF_FLOW_ID=#{processId}
		]]>
	</select>

	<select id="findFlowByIndent" resultType="IndentFlow">
		<![CDATA[
            SELECT 
            f.IF_ID AS ifId,
            f.IF_FLOW_ID AS ifFlowId,
            f.IF_INDENT_ID AS ifIndentId,
            f.IF_STATE AS ifState
            FROM INDENT_FLOW f 
             WHERE f.IF_INDENT_ID =${id} AND f.IF_STATE ='Y'
		]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="if_id"
		parameterType="IndentFlow">
		<![CDATA[
			INSERT INTO INDENT_FLOW (
			IF_INDENT_ID,
			IF_FLOW_ID,
			IF_STATE
			) VALUES (
			${ifIndentId},
			#{ifFlowId},
			#{ifState}
			);
		]]>
	</insert>

	<delete id="delete" parameterType="long">
		<![CDATA[
			DELETE FROM INDENT_FLOW
				WHERE IF_ID = ${ifId}
		]]>
	</delete>

	<delete id="deleteByflowId" parameterType="long">
		<![CDATA[
			DELETE FROM INDENT_FLOW
				WHERE IF_INDENT_ID =${id} AND IF_FLOW_ID =${ifFlowId}
		]]>
	</delete>

	<update id="update">
		<![CDATA[
			UPDATE INDENT_FLOW f SET 
			f.IF_INDENT_ID=${ifIndentId},
			f.IF_FLOW_ID=#{ifFlowId},
			f.IF_STATE=#{ifState}
			WHERE f.IF_ID =${ifId}
		]]>
	</update>

	<!-- <select id="getAll" resultType="FlowView"> <![CDATA[ ]]> </select> -->
</mapper>