<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.IndentCommentMapper">

	<cache />
	<insert id="save" useGeneratedKeys="true" keyProperty="ic_id"
		parameterType="long">
		<![CDATA[
		INSERT INTO INDENT_COMMENT(
		IC_CONTENT,
		IC_RESOURCELINK,
		IC_USERTYPE,
		IC_USERID,
		IC_INDENTID
		)VALUES(
		#{icContent},
		#{icResourceLink},
		#{icUserType},
		${icUserId},
		${icIndentId}
		);
		]]>
	</insert>

	<select id="findCommentByIndentId" resultType="IndentComment">
		<![CDATA[
		SELECT ic.IC_ID AS icId,
		ic.IC_CONTENT AS icContent,
		ic.IC_RESOURCELINK AS icResourceLink,
		DATE_FORMAT(ic.IC_CREATEDATE,'%Y-%m-%d %T') AS icCreateDate,
		ic.IC_USERID AS icUserId,
		ic.IC_USERTYPE AS icUserType,
		ic.IC_INDENTID AS icIndentId 
		FROM INDENT_COMMENT ic WHERE ic.IC_INDENTID= ${id}  ORDER BY ic.IC_ID DESC
		]]>
	</select>

	<delete id="delete" parameterType="long">
		<![CDATA[
			DELETE FROM INDENT_COMMENT 
				WHERE IC_ID = ${icId}
		]]>
	</delete>

	<delete id="removeIndentCommentList" parameterType="long">
		<![CDATA[
			DELETE FROM INDENT_COMMENT 
				WHERE IC_INDENTID = ${id}
		]]>
	</delete>

	<update id="update" parameterType="long">
		<![CDATA[
			UPDATE INDENT_COMMENT ic SET  
				ic.IC_CONTENT =#{icContent},
				ic.IC_INDENTID=${icIndentId},
				ic.IC_RESOURCELINK=#{icResourceLink},
				ic.IC_USERID=${icUserId},
				ic.IC_USERTYPE=#{icUserType} 
				WHERE ic.IC_ID=${icId};
		]]>
	</update>

</mapper>