<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.InvoiceMapper">

	<select id="listWithPagination" resultType="Invoice">
		<![CDATA[
			SELECT i.INVOICE_ID AS invoiceId,
				   i.INVOICE_CODE AS invoiceCode,
				   i.INVOICE_NAME AS invoiceName,
				   i.INVOICE_PRICE AS invoicePrice,
				   i.INVOICE_RADIO AS invoiceRadio,
				   i.INVOICE_NOTICE AS invoiceNotice,
				   i.INVOICE_PROJECTID AS invoiceProjectId,
				   p.IP_PROJECT_NAME AS projectName,
				   i.INVOICE_USERID AS invoiceUserId,
				   u.USERNAME AS userName,
				   i.INVOICE_PROVIDERID AS invoiceProviderId,
				   t.TEAMNAME AS providerName,
				   i.INVOICE_TYPE AS invoiceType,
				   i.INVOICE_FLAG AS invoiceFlag,
				   i.INVOICE_DRAW AS invoiceDraw,
				   DATE_FORMAT(i.PAY_TIME,'%Y-%m-%d %T') AS payTime,
				   DATE_FORMAT(i.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM INVOICE i
			INNER JOIN INDENT_PROJECT p
				ON i.INVOICE_PROJECTID = p.IP_ID
			LEFT JOIN USERS u
				ON i.INVOICE_USERID = u.ID
			LEFT JOIN TEAM t
				ON i.INVOICE_PROVIDERID = t.TEAMID
			WHERE 1 = 1
					AND i.INVOICE_TYPE = ${invoiceType}
		]]>
		
		<if test="invoiceName != null and invoiceName != ''">
			AND i.INVOICE_NAME LIKE CONCAT('%',#{invoiceName},'%')  
		</if>
		
		<if test="invoiceProjectId != null ">
			AND i.invoice_projectId = ${invoiceProjectId}
		</if>
		
		<if test="invoiceUserId != null ">
			AND i.invoice_userId = ${invoiceUserId}
		</if>
		
		<if test="invoiceProviderId != null ">
			AND i.invoice_providerId = ${invoiceProviderId}
		</if>
		
		<if test="invoiceFlag != null ">
			AND i.invoice_flag = ${invoiceFag}
		</if>
		
		<if test="invoiceDraw != null ">
			AND i.invoice_draw = ${invoiceDraw}
		</if>
		
		<![CDATA[
			ORDER BY i.CREATEDATE ASC
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<select id="maxSize" resultType="Long">
		<![CDATA[
			SELECT COUNT(1)
				FROM INVOICE i
			WHERE 1 = 1
					AND i.INVOICE_TYPE = ${invoiceType}
		]]>
		
		<if test="invoiceName != null and invoiceName != ''">
			AND i.INVOICE_NAME LIKE CONCAT('%',#{invoiceName},'%')  
		</if>
		
		<if test="invoiceProjectId != null ">
			AND i.invoice_projectId = ${invoiceProjectId}
		</if>
		
		<if test="invoiceUserId != null ">
			AND i.invoice_userId = ${invoiceUserId}
		</if>
		
		<if test="invoiceProviderId != null ">
			AND i.invoice_providerId = ${invoiceProviderId}
		</if>
		
		<if test="invoiceFlag != null ">
			AND i.invoice_flag = ${invoiceFag}
		</if>
		
		<if test="invoiceDraw != null ">
			AND i.invoice_draw = ${invoiceDraw}
		</if>
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="invoiceId"
		parameterType="Invoice">
		<![CDATA[
			INSERT INTO INVOICE(INVOICE_CODE,
				   INVOICE_NAME,
				   INVOICE_PRICE,
				   INVOICE_RADIO,
				   INVOICE_NOTICE,
				   INVOICE_PROJECTID,
				   INVOICE_USERID,
				   INVOICE_PROVIDERID,
				   INVOICE_TYPE,
				   INVOICE_FLAG,
				   INVOICE_DRAW,
				   PAY_TIME)
			VALUES (
				#{invoiceCode},
				#{invoiceName},
				${invoicePrice},
				${invoiceRadio},
				#{invoiceNotice},
				${invoiceProjectId},
				${invoiceUserId},
				${invoiceProviderId},
				${invoiceType},
				${invoiceFlag},
				${invoiceDraw},
				#{payTime}
			)
		]]>
	</insert>
	
	<update id="update">
		<![CDATA[
			UPDATE INVOICE
					SET INVOICE_CODE = #{invoiceCode},
						INVOICE_NAME = #{invoiceName},
						INVOICE_PRICE = ${invoicePrice},
						INVOICE_RADIO = ${invoiceRadio},
						INVOICE_NOTICE = #{invoiceNotice},
						INVOICE_PROJECTID = ${invoiceProjectId},
						INVOICE_USERID = ${invoiceUserId},
						INVOICE_PROVIDERID = ${invoiceProviderId},
						INVOICE_TYPE = ${invoiceType},
						INVOICE_FLAG = ${invoiceFlag},
						INVOICE_DRAW = ${invoiceDraw},
						PAY_TIME = DATE_FORMAT(#{payTime},'%Y-%m-%d %T'),
						UPDATEDATE = CURRENT_TIMESTAMP
			WHERE INVOICE_ID = ${invoiceId}
		]]>
	</update>
	
	<delete id="deleteByIds">
		<![CDATA[
			DELETE FROM INVOICE
				WHERE INVOICE_ID = -1
		]]>
		<if test="ids != null and ids != ''">
			<![CDATA[
				OR INVOICE_ID IN
			]]>
			<foreach collection="ids" open="(" close=")" item="id"
				separator=",">
				${id}
			</foreach>
		</if>
	</delete>
	
</mapper>