<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.JobMapper">

	<select id="findJobById" resultType="Job">
		<![CDATA[
			SELECT j.JOBID AS jobId,
				   j.JOBNAME AS jobName,
				   j.JOBDESCRIPTION AS jobDescription,
				   j.DEMAND AS demand,
				   DATE_FORMAT(j.STARTDATE,'%Y-%m-%d %T') AS startDate,
				   DATE_FORMAT(j.ENDDATE,'%Y-%m-%d %T') AS endDate,
				   DATE_FORMAT(j.UPDATEDATE,'%Y-%m-%d %T') AS updateDate,
				   DATE_FORMAT(j.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM JOBS j 
			WHERE 1 = 1
					AND j.JOBID = ${jobId}
		]]>
	</select>
	
	<select id="getAll" resultType="Job">
		<![CDATA[
			SELECT j.JOBID AS jobId,
				   j.JOBNAME AS jobName,
				   j.JOBDESCRIPTION AS jobDescription,
				   j.DEMAND AS demand,
				   DATE_FORMAT(j.STARTDATE,'%Y-%m-%d %T') AS startDate,
				   DATE_FORMAT(j.ENDDATE,'%Y-%m-%d %T') AS endDate,
				   DATE_FORMAT(j.UPDATEDATE,'%Y-%m-%d %T') AS updateDate,
				   DATE_FORMAT(j.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM JOBS j 
			WHERE 1 = 1
		]]>
	</select>
	
	<select id="listWithPagination" resultType="Job">
		<![CDATA[
			SELECT j.JOBID AS jobId,
				   j.JOBNAME AS jobName,
				   j.JOBDESCRIPTION AS jobDescription,
				   j.DEMAND AS demand,
				   DATE_FORMAT(j.STARTDATE,'%Y-%m-%d %T') AS startDate,
				   DATE_FORMAT(j.ENDDATE,'%Y-%m-%d %T') AS endDate,
				   DATE_FORMAT(j.UPDATEDATE,'%Y-%m-%d %T') AS updateDate,
				   DATE_FORMAT(j.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM JOBS j 
			WHERE 1 = 1
		]]>
		<if test="jobName != null and jobName != ''">
			AND j.JOBNAME LIKE CONCAT(CONCAT('%',#{jobName}),'%')
		</if>
		
		<![CDATA[
			ORDER BY
		]]>
		<if test="sort != null and sort != '' and order != null and order != ''">
			 ${sort} ${order},
		</if>
		<![CDATA[
			j.JOBID DESC
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<select id="maxSize" resultType="java.lang.Long">
		<![CDATA[
			SELECT COUNT(1)
			FROM JOBS j 
			WHERE 1 = 1
		]]>
		<if test="jobName != null and jobName != ''">
			AND j.JOBNAME LIKE CONCAT(CONCAT('%',#{jobName}),'%')
		</if>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="jobId"
		parameterType="Job">
		<![CDATA[
			INSERT INTO JOBS(JOBNAME,
				   JOBDESCRIPTION,
				   DEMAND,
				   STARTDATE,
				   ENDDATE)
			VALUES (
				#{jobName},
				#{jobDescription},
				#{demand},
				#{startDate},
				#{endDate}
			)
		]]>
	</insert>
	
	<update id="update">
		<![CDATA[
			UPDATE JOBS
					SET JOBNAME = #{jobName},
						JOBDESCRIPTION = #{jobDescription},
						DEMAND = #{demand},
						STARTDATE = #{startDate},
						ENDDATE = #{endDate},
						UPDATEDATE = CURRENT_TIMESTAMP
			WHERE JOBID = ${jobId}
		]]>
	</update>
	
	<delete id="delete">
		<![CDATA[
			DELETE FROM JOBS
				WHERE JOBID = ${jobId}
		]]>
	</delete>
	
</mapper>