<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.MailMapper">
	<select id="listWithPagination" resultType="Mail">
		<![CDATA[
			SELECT 
				m.ID,m.SUBJECT,m.CONTENT,
				m.MAIL_TYPE mailType,
				m.CREATE_TIME createTime,
				m.UPDATE_TIME updateTime,
				m.RECEIVER receiver,
				m.RECEIVER_ROLE receiverRole,
				m.BCC bcc,
				m.BCC_ROLE bccRole,
				m.SENDER sender,
				m.SENDER_ROLE senderRole,
				m.MAIL_FILE mailFile
			FROM MAIL m
			WHERE 1 = 1
		]]>
		<![CDATA[
			ORDER BY m.ID desc
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	<select id="getAll" resultType="Mail">
		<![CDATA[
			SELECT 
				m.ID,m.SUBJECT,m.CONTENT,
				m.MAIL_TYPE mailType,
				m.CREATE_TIME createTime,
				m.UPDATE_TIME updateTime,
				m.RECEIVER receiver,
				m.RECEIVER_ROLE receiverRole,
				m.BCC bcc,
				m.BCC_ROLE bccRole,
				m.SENDER sender,
				m.SENDER_ROLE senderRole,
				m.MAIL_FILE mailFile
			FROM MAIL m
		]]>
	</select>
	<select id="maxSize" resultType="long">
		<![CDATA[
			SELECT COUNT(1)
				FROM MAIL m
			WHERE 1 = 1
		]]>
	</select>
	
	<insert id="save">
		<![CDATA[
			INSERT INTO MAIL(
				`SUBJECT`,
				CONTENT,
				MAIL_TYPE,
				CREATE_TIME,
				UPDATE_TIME,
				RECEIVER,
				RECEIVER_ROLE,
				BCC,
				BCC_ROLE,
				SENDER,
				SENDER_ROLE,
				MAIL_FILE
			) VALUES(
				#{subject},
				#{content},
				#{mailType},
				CURRENT_TIMESTAMP,
				CURRENT_TIMESTAMP,
				#{receiver},
				#{receiverRole},
				#{bcc},
				#{bccRole},
				#{sender},
				#{senderRole},
				#{mailFile}
			)
		]]>
	</insert>
	
	<update id="update">
		<![CDATA[
			UPDATE MAIL m
		      SET m.SUBJECT = #{subject},
		      m.CONTENT = #{content},
		      m.MAIL_TYPE = #{mailType},
		      m.UPDATE_TIME = CURRENT_TIMESTAMP,
		      m.RECEIVER = #{receiver},
			  m.RECEIVER_ROLE = #{receiverRole},
			  m.BCC = #{bcc},
			  m.BCC_ROLE = #{bccRole},
			  m.SENDER = #{sender},
			  m.SENDER_ROLE = #{senderRole},
			  m.MAIL_FILE = #{mailFile}
	      WHERE m.ID = ${id}
		]]>
	</update>
	
	<delete id="delete">
		<![CDATA[
			DELETE FROM MAIL 
				WHERE ID = ${id}
		]]>
	</delete>
	
	
	<select id="getTemplateById" resultType="Mail">
		<![CDATA[
			SELECT 
				m.ID,m.SUBJECT,m.CONTENT,
				m.MAIL_TYPE mailType,
				m.CREATE_TIME createTime,
				m.UPDATE_TIME updateTime,
				m.RECEIVER ,
				m.RECEIVER_ROLE receiverRole,
				m.BCC bcc,
				m.BCC_ROLE bccRole,
				m.SENDER sender,
				m.SENDER_ROLE senderRole,
				m.MAIL_FILE mailFile
			FROM MAIL m
			WHERE m.ID = ${mailId}
		]]>
	</select>
	
	<select id="getTemplateByType" resultType="Mail">
		<![CDATA[
			SELECT 
				m.ID,m.SUBJECT,m.CONTENT,
				m.MAIL_TYPE mailType,
				m.CREATE_TIME createTime,
				m.UPDATE_TIME updateTime,
				m.RECEIVER receiver,
				m.RECEIVER_ROLE receiverRole,
				m.BCC bcc,
				m.BCC_ROLE bccRole,
				m.SENDER sender,
				m.SENDER_ROLE senderRole,
				m.MAIL_FILE mailFile
			FROM MAIL m
			WHERE m.MAIL_TYPE = #{type}
		]]>
	</select>
	
</mapper>