<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.NewsMapper">
	<select id="listWithPagination" resultType="News">
		<![CDATA[
			SELECT id ,title,discription ,content ,
			create_time createTime,
			update_time updateTime,
			sort_index sortIndex,
			`status`,
			TAGS AS tags,
			PICLDURL AS picLDUrl,
			CATEGORY AS category
			FROM NEWS WHERE 1=1
		]]>
		<if test="category != null">
			AND CATEGORY = ${category}
		</if>
		<![CDATA[
			ORDER BY create_time desc
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	<select id="maxSize" resultType="long">
		<![CDATA[
			SELECT COUNT(1)
				FROM NEWS
			WHERE 1 = 1
		]]>
		<if test="category != null">
			AND CATEGORY = ${category}
		</if>
	</select>

	<select id="getMaxIndex" resultType="int">
		<![CDATA[
			SELECT IFNULL(MAX(sort_index),0) maxIndex
			FROM NEWS
		]]>
	</select>

	<insert id="save">
		<![CDATA[
			INSERT INTO NEWS(
				title,
				DISCRIPTION,
				CONTENT,
				CREATE_TIME,
				UPDATE_TIME,
				SORT_INDEX,
				`STATUS`,
				TAGS,
				PICLDURL,
				CATEGORY
			) VALUES(
				#{title},
				#{discription},
				#{content},
				CURRENT_TIMESTAMP,
				CURRENT_TIMESTAMP,
				${sortIndex},
				${status},
				#{tags},
				#{picLDUrl},
				${category}
			)
		]]>
	</insert>

	<update id="update">
		<![CDATA[
			UPDATE NEWS n
		      SET n.TITLE = #{title},
		      n.CONTENT = #{content},
		      n.DISCRIPTION = #{discription},
		      n.UPDATE_TIME = CURRENT_TIMESTAMP,
		      n.STATUS = ${status},
		      n.TAGS = #{tags},
		      n.CATEGORY = ${category}
		]]>

		<if test="picLDUrl != null and picLDUrl != '' ">
			,n.PICLDURL = #{picLDUrl}
		</if> 
		
		<![CDATA[
			WHERE n.ID = ${id}
		]]>
	</update>

	<delete id="delete">
		<![CDATA[
			DELETE FROM NEWS
				WHERE ID = ${id}
		]]>
	</delete>
	<select id="getNewsById" resultType="News">
		<![CDATA[
			SELECT ID,TITLE,DISCRIPTION
			,CONTENT,CREATE_TIME createTime
			,UPDATE_TIME updateTime,IFNULL(SORT_INDEX,0) sortIndex
			,`status` ,
			TAGS AS tags,
			PICLDURL AS picLDUrl,
			CATEGORY AS category
			FROM NEWS 
			WHERE ID= ${id}
		]]>
	</select>
	<update id="promoteAllAboveByIndex">
		<![CDATA[
			UPDATE NEWS SET SORT_INDEX = SORT_INDEX-1 WHERE SORT_INDEX > ${sortIndex}
		]]>
	</update>
	<update id="downSortBySort">
		<![CDATA[
			UPDATE NEWS SET SORT_INDEX = SORT_INDEX+1 WHERE SORT_INDEX = ${sortIndex}-1
		]]>
	</update>
	<update id="upSortByNewsId">
		<![CDATA[
			UPDATE NEWS SET SORT_INDEX = SORT_INDEX-1 WHERE id=${id}
		]]>
	</update>
	<update id="upSortBySort">
		<![CDATA[
			UPDATE NEWS SET SORT_INDEX = SORT_INDEX-1 WHERE SORT_INDEX = ${sortIndex}+1
		]]>
	</update>
	<update id="downSortByNewsId">
		<![CDATA[
			UPDATE NEWS SET SORT_INDEX = SORT_INDEX+1 WHERE id=${id}
		]]>
	</update>
	<select id="RecommendNews" resultType="News">
		<![CDATA[
			SELECT id ,title,discription 
				FROM NEWS WHERE status = 1
			 ORDER BY create_time DESC LIMIT 0,6
		]]>
	</select>

	<select id="searchAllNews" resultType="News">
		<![CDATA[
			SELECT id ,title,discription ,content,
				create_time createTime,
				update_time updateTime,
				sort_index sortIndex,
				`status`,
				TAGS AS tags,
				PICLDURL AS picLDUrl,
				CATEGORY AS category
			FROM NEWS ORDER BY create_time DESC
		]]>
	</select>

	<select id="info" resultType="News">
		<![CDATA[
			SELECT id ,title,discription ,content ,
			create_time createTime,
			update_time updateTime,
			sort_index sortIndex,
			`status`,
			TAGS AS tags,
			PICLDURL AS picLDUrl,
			CATEGORY AS category
			FROM NEWS WHERE id = ${newId}
		]]>
	</select>
</mapper>