<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.ProductModuleMapper">

	<select id="list" resultType="ProductModule">
		<![CDATA[
           SELECT ID,
           		 PID,
           		 MODULE_NAME moduleName,
           		 MODULE_LEVEL moduleLevel,
           		 DESCRIPTION,
           		 MODULE_PRICE modulePrice ,
           		 PIC,CREATE_TIME createTime,
           		 UPDATE_TIME updateTime,
           		 SORT_INDEX sortIndex
			FROM PRODUCT_MODULE
		]]>
	</select>
	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="ProductModule">
		<![CDATA[
			INSERT INTO PRODUCT_MODULE (
				PID,
				MODULE_NAME,
				MODULE_LEVEL,
				DESCRIPTION,
				MODULE_PRICE,
				PIC,
				CREATE_TIME,
				UPDATE_TIME,
				SORT_INDEX
				) VALUES (
				#{pid},
				#{moduleName},
				${moduleLevel},
				#{description},
				#{modulePrice},
				#{pic},
				CURRENT_TIMESTAMP,
				CURRENT_TIMESTAMP,
				${sortIndex}
				);
		]]>
	</insert>
	
	<update id="update">
		<![CDATA[
			UPDATE PRODUCT_MODULE
				SET PID=#{pid},
				MODULE_NAME=#{moduleName},
				MODULE_LEVEL=${moduleLevel},
				DESCRIPTION=#{description},
				MODULE_PRICE=#{modulePrice},
		]]>
		<if test="pic !=null and pic != ''">
				PIC=#{pic},
		</if>
		<![CDATA[
				update_time=CURRENT_TIMESTAMP,
				sort_index=${sortIndex}
				where ID=${id}
		]]>
	</update>
	<!-- 创建存储过程
	DELIMITER $$ DROP FUNCTION IF EXISTS `pat`.`getChildLst`$$ 
	CREATE DEFINER=`pat`@`123.59.75.93` 
	FUNCTION `getmodulechild`(rootId VARCHAR(50)) 
	RETURNS VARCHAR(1000) CHARSET utf8 BEGIN 
	DECLARE sTemp VARCHAR(1000); DECLARE sTempChd VARCHAR(1000); 
	SET sTemp = '0'; SET sTempChd =rootId; WHILE sTempChd IS NOT NULL DO SET sTemp = CONCAT(sTemp,',',sTempChd);
 	SELECT GROUP_CONCAT(id) INTO sTempChd FROM PRODUCT_MODULE WHERE pid<>id AND FIND_IN_SET(pid,sTempChd)>0; 
 	END WHILE; RETURN sTemp;
    END$$
	DELIMITER ;
	调用：SELECT getpromodulechild(id)
	 -->
	 <select id="getchild" resultType="string">
		<![CDATA[
           SELECT getmodulechild(${id})
          ]]>
	</select>
	<delete id="delete" parameterType="long">
		<![CDATA[
			DELETE FROM PRODUCT_MODULE
				WHERE ID = ${id}
		]]>
	</delete>
	
	

</mapper>