<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.ProductMapper">

	<select id="listWithPagination" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICHDURL AS picHDUrl,
				   pro.PICLDURL AS picLDUrl,
				   pro.PRODUCTTYPE AS productType,
				   pro.FLAG AS flag,
				   i.ITEMNAME AS productTypeName,
				   DATE_FORMAT(pro.UPLOADDATE,'%Y-%m-%d %T') AS uploadDate,
				   pro.RECOMMEND AS recommend,
				   pro.SUPPORTCOUNT AS supportCount,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.TEAMID AS teamId,
				   pro.VISIBLE AS visible,
				   pro.HRET AS hret,
				   t.TEAMNAME AS teamName,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork
			FROM PRODUCT pro
			LEFT JOIN ITEM i ON i.ITEMID = pro.PRODUCTTYPE
			LEFT JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE 1 = 1
			AND pro.visible = 0
		]]>
		<if test="teamId !=null and teamId != ''">
			AND pro.TEAMID = ${teamId}
		</if>
		<!-- modify by wanglc 2016-6-30 12:54:21 团队搜索模糊查询 begin  -->
		<if test="teamName !=null and teamName != ''">
			AND t.TEAMNAME  LIKE CONCAT(CONCAT('%',#{teamName}),'%')
		</if>
		<!-- modify by wanglc 2016-6-30 12:54:21 团队搜索模糊查询 begin  -->
		<if test="productType != null and productType != ''">
			AND pro.PRODUCTTYPE = ${productType}
		</if>
		<if test="productName != null and productName != ''">
			AND pro.PRODUCTNAME LIKE CONCAT(CONCAT('%',#{productName}),'%')
		</if>
		<if test="uploadDate != null and uploadDate != ''">
			AND DATE_FORMAT(pro.UPLOADDATE,'%Y-%m-%d %T') = #{uploadDate}
		</if>
		<if test="recommend != null and recommend != ''">
			AND pro.RECOMMEND = ${recommend}
		</if>
		<if test="supportCount != null and supportCount != ''">
			AND pro.SUPPORTCOUNT = ${supportCount}
		</if>
		<if test="videoLength != null and videoLength != ''">
			AND pro.VIDEOLENGTH = #{videoLength}
		</if>
		<if test="flag != null and flag != ''">
			AND pro.FLAG = #{flag}
		</if>
		<if test="hret != null and hret != '' and hret == 0">
			<![CDATA[
				AND pro.HRET <> ''
			]]>
		</if>
		<if test="hret != null and hret != '' and hret == 1">
			AND pro.HRET = ''
		</if>
		<![CDATA[
			ORDER BY pro.recommend,pro.supportCount desc
			LIMIT ${begin} , ${limit}
		]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="productId"
		parameterType="Product">
		<![CDATA[
			INSERT INTO PRODUCT(
				VIDEODESCRIPTION,
				PDESCRIPTION,
				PRODUCTNAME,
				PRODUCTTYPE,
				RECOMMEND,
				SUPPORTCOUNT,
				VIDEOLENGTH,
				TEAMID,
				FLAG,
				VISIBLE,
				HRET,
				TAGS,
				SHOWTYPE,
				SESSIONID,
				CREATIONTIME
			) VALUES(
				#{videoDescription},
				#{pDescription},
				#{productName},
				${productType},
				${recommend},
				${supportCount},
				#{videoLength},
				${teamId},
				${flag},
				${visible},
				#{hret},
				#{tags},
				${showType},
				#{sessionId},
				DATE_FORMAT(#{creationTime},'%Y-%m-%d')
			)
		]]>
	</insert>

	<delete id="delete">
		<![CDATA[
			DELETE FROM PRODUCT
				WHERE PRODUCTID = ${productId}
		]]>
	</delete>

	<update id="update">
		<![CDATA[
			UPDATE PRODUCT
				SET VIDEODESCRIPTION = #{videoDescription},
				PDESCRIPTION = #{pDescription},
				PRODUCTNAME = #{productName},
				PRODUCTTYPE = ${productType},
				VIDEOLENGTH = #{videoLength},
				TEAMID = ${teamId},
				FLAG = ${flag},
				VISIBLE = ${visible},
				HRET = #{hret},
				TAGS = #{tags},
				UPDATEDATE = CURRENT_TIMESTAMP,
				SHOWTYPE = ${showType},
				SESSIONID = #{sessionId},
				RECOMMEND = ${recommend},
				SUPPORTCOUNT = ${supportCount}
		]]>
		<if test="videoUrl != null and videoUrl != ''">
			,VIDEOURL = #{videoUrl} 
		</if>
		<if test="picHDUrl != null and picHDUrl != ''">
			,PICHDURL = #{picHDUrl} 
		</if>
		<if test="picLDUrl != null and picLDUrl != ''">
			,PICLDURL = #{picLDUrl} 
		</if>
		<if test="creationTime != null and creationTime != ''">
			,CREATIONTIME = DATE_FORMAT(#{creationTime},'%Y-%m-%d')
		</if>
		<![CDATA[
			WHERE PRODUCTID = ${productId}
		]]>
	</update>
	
	<update id="updateFileUrl">
		<![CDATA[
			UPDATE PRODUCT
				SET VIDEOURL = #{videoUrl},
				PICHDURL = #{picHDUrl},
				PICLDURL = #{picLDUrl}
			WHERE PRODUCTID = ${productId}
		]]>
	</update>

	<select id="findProductById" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS PRODUCTNAME,
				   pro.PICHDURL AS PICHDURL,
				   pro.PICLDURL AS picLDUrl,
				   pro.VISIBLE AS visible,
				   pro.PRODUCTTYPE AS productType,
				   DATE_FORMAT(pro.UPLOADDATE,'%Y-%m-%d %T') AS uploadDate,
				   pro.RECOMMEND AS recommend,
				   pro.SUPPORTCOUNT AS supportCount,
				   pro.VIDEOLENGTH AS videoLength,
				   t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   t.TEAMDESCRIPTION AS teamDescription,
				   pro.HRET AS hret,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork
			FROM PRODUCT pro
			LEFT JOIN TEAM t ON pro.TEAMID = t.TEAMID
			WHERE pro.PRODUCTID = ${productId}
		]]>
	</select>

	<select id="findProductByArray" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS PRODUCTNAME,
				   pro.PICHDURL AS PICHDURL,
				   pro.PICLDURL AS picLDUrl,
				   pro.PRODUCTTYPE AS productType,
				   pro.VISIBLE AS visible,
				   DATE_FORMAT(pro.UPLOADDATE,'%Y-%m-%d %T') AS uploadDate,
				   pro.RECOMMEND AS recommend,
				   pro.SUPPORTCOUNT AS supportCount,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.HRET AS hret,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork
			FROM PRODUCT pro
			WHERE 1 = 1
		]]>
		<if test="ids != null and ids != ''">
			AND pro.PRODUCTID IN
			<foreach collection="ids" open="(" close=")" item="id"
				separator=",">
				${id}
			</foreach>
		</if>
	</select>

	<select id="maxSize" resultType="java.lang.Long">
		<![CDATA[
			SELECT COUNT(1)
				FROM PRODUCT pro
				LEFT JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE 1 = 1
			AND pro.visible = 0
		]]>
		<if test="teamId !=null and teamId != ''">
			AND pro.TEAMID = ${teamId}
		</if>
		<if test="teamName !=null and teamName != ''">
			AND t.TEAMNAME  LIKE CONCAT(CONCAT('%',#{teamName}),'%')
		</if>
		<if test="productType != null and productType != ''">
			AND pro.PRODUCTTYPE = ${productType}
		</if>
		<if test="uploadDate != null and uploadDate != ''">
			AND DATE_FORMAT(pro.UPLOADDATE,'%Y-%m-%d %T') =
			#{uploadDate}
		</if>
		
		<if test="videoLength != null and videoLength != ''">
			AND pro.VIDEOLENGTH = #{videoLength}
		</if>
		<if test="flag !=null and flag != ''">
			AND pro.FLAG = ${flag}
		</if>
		<if test="hret == 0">
			<![CDATA[
				AND pro.HRET <> ''
			]]>
		</if>
		<if test="hret == 1">
			AND pro.HRET = ''
		</if>
	</select>
	
	<select id="all" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.PRODUCTNAME AS productName
			FROM PRODUCT pro
		]]>
	</select>
	
	<select id="listWithCondition" resultType="Product" useCache="false">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICHDURL AS picHDUrl,
				   pro.PICLDURL AS picLDUrl,
				   pro.PRODUCTTYPE AS productType,
				   pro.HRET AS hret,
				   i.ITEMNAME AS productTypeName,
				   DATE_FORMAT(pro.UPLOADDATE,'%Y-%m-%d %T') AS uploadDate,
				   pro.RECOMMEND AS recommend,
				   pro.SUPPORTCOUNT AS supportCount,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.VISIBLE AS visible,
				   pro.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork
			FROM PRODUCT pro
			LEFT JOIN (
				SELECT MIN(serviceRealPrice) AS SERVICEREALPRICE,MIN(servicePrice) AS SERVICEPRICE,productId 
					FROM SERVICE 
				GROUP BY productId HAVING productId
			) ser
			ON pro.PRODUCTID = ser.PRODUCTID
			LEFT JOIN ITEM i ON i.ITEMID = pro.PRODUCTTYPE
			LEFT JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE 1 = 1
				AND pro.FLAG = 1
				AND pro.VISIBLE = 0
				AND t.FLAG = 1
		]]>
		<if test="productType !=null and productType != ''">
			AND pro.PRODUCTTYPE = ${productType}
			AND i.ISACTIVE = 0
		</if>
		<if test="lengthBegin >= 0 and lengthEnd > 0">
			AND pro.VIDEOLENGTH BETWEEN ${lengthBegin} AND ${lengthEnd}
		</if>
		
		<if test="priceBegin >= 0 and priceEnd > 0">
			AND ser.SERVICEREALPRICE BETWEEN ${priceBegin} AND ${priceEnd}
		</if>
		
		<![CDATA[
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<select id="loadProduct" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICHDURL AS picHDUrl,
				   pro.PICLDURL AS picLDUrl,
				   pro.VISIBLE AS visible,
				   pro.HRET AS hret,
				   i.ITEMNAME AS productTypeName,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.TEAMID AS teamId,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork
			FROM PRODUCT pro
			LEFT JOIN ITEM i ON i.ITEMID = pro.PRODUCTTYPE
			WHERE 1 = 1
			AND pro.PRODUCTID = ${productId}
		]]>
	</select>
	
	<select id="loadProductByTeam" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICHDURL AS picHDUrl,
				   pro.PICLDURL AS picLDUrl,
				   pro.VISIBLE AS visible,
				   i.ITEMNAME AS productTypeName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.TEAMID AS teamId,
				   pro.HRET AS hret,
				   pro.TAGS AS tags,
				   pro.SESSIONID AS sessionId,
				   pro.SHOWTYPE AS showType,
				   t.TEAMNAME AS teamName,
				   t.TEAMDESCRIPTION AS teamDescription,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork,
				   DATE_FORMAT( pro.UPDATEDATE,'%Y-%m-%d') AS updateDate
			FROM PRODUCT pro
			LEFT JOIN ITEM i ON i.ITEMID = pro.PRODUCTTYPE
			LEFT JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE 1 = 1
				AND pro.FLAG = 1
				AND pro.VISIBLE = 0
				AND t.FLAG = 1
				AND t.TEAMID = ${teamId} 
		]]>
	</select>
	
	<select id="loadProductByTeamOrder" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICHDURL AS picHDUrl,
				   pro.PICLDURL AS picLDUrl,
				   pro.VISIBLE AS visible,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.TEAMID AS teamId,
				   pro.HRET AS hret,
				   pro.TAGS AS tags,
				   pro.SESSIONID AS sessionId,
				   pro.SHOWTYPE AS showType,
				   t.TEAMNAME AS teamName,
				   t.TEAMDESCRIPTION AS teamDescription,
				   pro.MASTERWORK AS masterWork,
				   DATE_FORMAT(IF(creationTime = NULL ,uploadDate,creationTime),'%Y-%m-%d') AS creationTime
			FROM PRODUCT pro
			LEFT JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE 1 = 1
				AND pro.FLAG = 1
				AND pro.VISIBLE = 0
				AND t.FLAG = 1
				AND t.TEAMID = ${teamId} 
			ORDER BY creationTime DESC
		]]>
	</select>
	
	<select id="loadData" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICHDURL AS picHDUrl,
				   pro.PICLDURL AS picLDUrl,
				   pro.PRODUCTTYPE AS productType,
				   pro.VISIBLE AS visible,
				   pro.HRET AS hret,
				   i.ITEMNAME AS productTypeName,
				   DATE_FORMAT(pro.UPLOADDATE,'%Y-%m-%d %T') AS uploadDate,
				   pro.RECOMMEND AS recommend,
				   pro.SUPPORTCOUNT AS supportCount,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork
			FROM PRODUCT pro
			LEFT JOIN ITEM i ON i.ITEMID = pro.PRODUCTTYPE
			LEFT JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE 1 = 1
			AND pro.FLAG = 1
			ORDER BY pro.RECOMMEND,pro.SUPPORTCOUNT DESC
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<delete id="deleteByTeamId">
		<![CDATA[
			DELETE FROM TEAM
				WHERE TEAMID = ${teamId}
		]]>
	</delete>
	
	<select id="conditionSize" resultType="java.lang.Long">
		<![CDATA[
			SELECT COUNT(1)
				FROM PRODUCT pro
			LEFT JOIN (
			SELECT MIN(serviceRealPrice) AS SERVICEREALPRICE,MIN(servicePrice) AS SERVICEPRICE,productId 
				FROM SERVICE 
			GROUP BY productId HAVING productId
			) ser
			ON pro.PRODUCTID = ser.PRODUCTID
			LEFT JOIN TEAM t ON pro.TEAMID = t.TEAMID
			LEFT JOIN ITEM i ON pro.PRODUCTTYPE = i.ITEMID
			WHERE pro.FLAG = 1
				AND pro.visible = 0
				AND t.FLAG = 1
		]]>
		<if test="productType != null and productType != ''">
			AND pro.PRODUCTTYPE = ${productType}
			AND i.ISACTIVE = 0
		</if>
		<if test="lengthBegin >= 0 and lengthEnd > 0">
			AND pro.VIDEOLENGTH BETWEEN ${lengthBegin} AND ${lengthEnd}
		</if>
		<if test="priceBegin >= 0 and priceEnd > 0">
			AND ser.SERVICEREALPRICE BETWEEN ${priceBegin} AND ${priceEnd}
		</if>
	</select>
	
	<update id="updateProductInfo">
		<![CDATA[
			UPDATE PRODUCT
				SET PDESCRIPTION = #{pDescription},
				PRODUCTNAME = #{productName},
				PRODUCTTYPE = ${productType},
				VIDEOLENGTH = #{videoLength},
				VISIBLE = ${visible},
				TAGS = #{tags},
				VIDEODESCRIPTION = #{videoDescription},
				UPDATEDATE = CURRENT_TIMESTAMP,
				SESSIONID = #{sessionId}
		]]>
		<if test="videoUrl != null and videoUrl != ''">
			,VIDEOURL = #{videoUrl} 
		</if>
		<if test="picHDUrl != null and picHDUrl != ''">
			,PICHDURL = #{picHDUrl} 
		</if>
		<if test="picLDUrl != null and picLDUrl != ''">
			,PICLDURL = #{picLDUrl} 
		</if>
		<if test="creationTime != null and creationTime != ''">
			,CREATIONTIME = DATE_FORMAT(#{creationTime},'%Y-%m-%d')
		</if>
		<![CDATA[
			WHERE PRODUCTID = ${productId}
		]]>
	</update>
	
	<select id="loadSingleProduct" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICHDURL AS picHDUrl,
				   pro.PICLDURL AS picLDUrl,
				   pro.PRODUCTTYPE AS productType,
				   pro.RECOMMEND AS recommend,
				   pro.SUPPORTCOUNT AS supportCount,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.TEAMID AS teamId,
				   pro.VISIBLE AS visible,
				   pro.HRET AS hret,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork
			FROM PRODUCT pro
			LEFT JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE pro.TEAMID = ${teamId}
			AND pro.FLAG = 1
			AND pro.VISIBLE = 0
			AND t.FLAG = 1
			ORDER BY pro.UPLOADDATE,pro.RECOMMEND,pro.SUPPORTCOUNT DESC
			LIMIT 0 , 1
		]]>
	</select>
	
	<select id="loadProductByProviderId" resultType="Product">
		<![CDATA[
			SELECT pro.PRODUCTID AS productId,
				   pro.VIDEOURL AS videoUrl,
				   pro.VIDEODESCRIPTION AS videoDescription,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICHDURL AS picHDUrl,
				   pro.PICLDURL AS picLDUrl,
				   pro.VISIBLE AS visible,
				   i.ITEMNAME AS productTypeName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   pro.VIDEOLENGTH AS videoLength,
				   pro.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.TEAMDESCRIPTION AS teamDescription,
				   pro.HRET AS hret,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   DATE_FORMAT(pro.CREATIONTIME,'%Y-%m-%d') AS creationTime,
				   pro.MASTERWORK AS masterWork
			FROM PRODUCT pro
			LEFT JOIN ITEM i ON i.ITEMID = pro.PRODUCTTYPE
			INNER JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE 1 = 1
				AND pro.FLAG <> 2
				AND t.TEAMID = ${teamId}
		]]>
	</select>
	
	<select id="loadProductByCommend" resultType="Product">
		<![CDATA[
			SELECT DISTINCT pro.PRODUCTID AS productId,
				   pro.PDESCRIPTION AS pDescription,
				   pro.PRODUCTNAME AS productName,
				   pro.PICLDURL AS picLDUrl,
				   pro.TEAMID AS teamId,
				   pro.HRET AS hret,
				   pro.TAGS AS tags,
				   pro.SHOWTYPE AS showType,
				   pro.SESSIONID AS sessionId,
				   pro.RECOMMEND AS recommend,
				   ser.SERVICEREALPRICE AS serviceRealPrice,
				   ser.SERVICEPRICE AS servicePrice,
				   t.TEAMNAME AS teamName
			FROM PRODUCT pro
			INNER JOIN (
				SELECT MIN(serviceRealPrice) AS SERVICEREALPRICE,MIN(servicePrice) AS SERVICEPRICE,productId 
					FROM SERVICE 
				GROUP BY productId HAVING productId
			) ser
			ON pro.PRODUCTID = ser.PRODUCTID
			INNER JOIN ITEM i ON pro.PRODUCTTYPE = i.ITEMID
			INNER JOIN TEAM t ON pro.TEAMID = t.TEAMID
			WHERE 1 = 1
			AND pro.FLAG = 1
			AND pro.visible = 0
			AND pro.RECOMMEND <> 0
			AND i.ISACTIVE = 0
			AND t.FLAG = 1
			ORDER BY ser.SERVICEREALPRICE ASC,pro.RECOMMEND DESC,pro.SUPPORTCOUNT DESC
		]]>
	</select>
	
	<update id="updateVideoDescription">
		<![CDATA[
			UPDATE PRODUCT p SET
				p.VIDEODESCRIPTION = #{videoDescription}
			WHERE
				p.PRODUCTID = ${productId}
		]]>
	</update>
	
	<select id="loadSalesProduct" resultType="Product">
		SELECT pro.PRODUCTID AS productId,
			   pro.VIDEOURL AS videoUrl,
			   pro.PDESCRIPTION AS pDescription,
			   pro.PRODUCTNAME AS productName,
			   pro.PICHDURL AS picHDUrl,
			   pro.PICLDURL AS picLDUrl,
			   pro.VISIBLE AS visible,
			   i.ITEMNAME AS productTypeName,
			   pro.VIDEOLENGTH AS videoLength,
			   pro.HRET AS hret,
			   pro.TAGS AS tags
			FROM PRODUCT pro
			LEFT JOIN ITEM i ON i.ITEMID = pro.PRODUCTTYPE
			INNER JOIN TEAM t ON t.TEAMID = pro.TEAMID
			WHERE 1 = 1
				AND t.flag = 4
				AND t.loginName = 'bd'
				AND pro.FLAG = 1 
				AND pro.visible = 0
	</select>
	
	<select id="getProductByRecommend" resultType="Product" >
		<![CDATA[
			SELECT DISTINCT pro.PRODUCTID AS productId,
				   pro.PRODUCTNAME AS productName,
				   pro.TAGS AS tags,
				   t.TEAMNAME AS teamName
			FROM PRODUCT pro
			INNER JOIN ITEM i ON pro.PRODUCTTYPE = i.ITEMID
			INNER JOIN TEAM t ON pro.TEAMID = t.TEAMID
			WHERE 1 = 1
			AND pro.FLAG = 1
			AND pro.visible = 0
			AND pro.RECOMMEND <> 0
			AND i.ISACTIVE = 0
			AND t.FLAG = 1
		]]>
	</select>
	
	<select id="getMasterWork" resultType="Product"> 
		<![CDATA[
			SELECT * FROM PRODUCT 
			WHERE teamId = ${teamId}
			AND masterWork = 1
		]]>
	</select>
	
</mapper>