<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.StaffMapper">

	<select id="findStaffById" resultType="Staff">
		<![CDATA[
			SELECT s.STAFFID AS staffId,
				   s.STAFFNAME AS staffName,
				   s.STAFFPOSITION AS staffPosition,
				   s.STAFFEDUCATION AS staffEducation,
				   s.STAFFDESCRIPTION AS staffDescription,
				   s.STAFFIMAGEURL AS staffImageUrl,
				   DATE_FORMAT(s.UPDATEDATE,'%Y-%m-%d %T') AS updateDate
			FROM STAFF s 
			WHERE 1 = 1
					AND s.STAFFID = ${staffId}
		]]>
	</select>

	<select id="getAll" resultType="Staff">
		<![CDATA[
			SELECT s.STAFFID AS staffId,
				   s.STAFFNAME AS staffName,
				   s.STAFFPOSITION AS staffPosition,
				   s.STAFFEDUCATION AS staffEducation,
				   s.STAFFDESCRIPTION AS staffDescription,
				   s.STAFFIMAGEURL AS staffImageUrl
			FROM STAFF s 
			WHERE 1 = 1
			
			ORDER BY s.OD ASC
		]]>
	</select>

	<select id="findStaffsByArray" resultType="Staff">
		<![CDATA[
			SELECT s.STAFFID AS staffId,
				   s.STAFFNAME AS staffName,
				   s.STAFFPOSITION AS staffPosition,
				   s.STAFFEDUCATION AS staffEducation,
				   s.STAFFDESCRIPTION AS staffDescription,
				   s.STAFFIMAGEURL AS staffImageUrl,
				   DATE_FORMAT(s.UPDATEDATE,'%Y-%m-%d %T') AS updateDate
			FROM STAFF s 
			WHERE 1 = 1
		]]>
		<if test="ids != null and ids != ''">
			AND STAFFID IN
			<foreach collection="ids" open="(" close=")" item="id"
				separator=",">
				${id}
			</foreach>
		</if>
		
		<![CDATA[
			ORDER BY s.STAFFID ASC
		]]>
	</select>

	<select id="listWithPagination" resultType="Staff">
		<![CDATA[
			SELECT s.STAFFID AS staffId,
				   s.STAFFNAME AS staffName,
				   s.STAFFPOSITION AS staffPosition,
				   s.STAFFEDUCATION AS staffEducation,
				   s.STAFFDESCRIPTION AS staffDescription,
				   s.STAFFIMAGEURL AS staffImageUrl,
				   DATE_FORMAT(s.UPDATEDATE,'%Y-%m-%d %T') AS updateDate,
				   s.OD AS od
			FROM STAFF s 
			WHERE 1 = 1
		]]>
		<if test="staffName != null and staffName != ''">
			AND s.STAFFNAME LIKE CONCAT(CONCAT('%',#{staffName}),'%')
		</if>
		<![CDATA[
		ORDER BY
		]]>
		<if test="sort != null and sort != '' and order != null and order != ''">
			${sort} ${order},
		</if>
		<![CDATA[
			 s.OD ASC
			LIMIT ${begin} , ${limit}
		]]>
	</select>

	<select id="maxSize" resultType="java.lang.Long">
		<![CDATA[
			SELECT COUNT(1)
			FROM STAFF s 
			WHERE 1 = 1
		]]>
		<if test="staffName != null and staffName != ''">
			AND s.STAFFNAME LIKE CONCAT(CONCAT('%',#{staffName}),'%')
		</if>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="staffId"
		parameterType="Staff">
		<![CDATA[
			INSERT INTO STAFF(STAFFNAME,
				   STAFFPOSITION,
				   STAFFEDUCATION,
				   OD,
				   STAFFDESCRIPTION)
			VALUES (
				#{staffName},
				#{staffPosition},
				#{staffEducation},
				${od},
				#{staffDescription}
			)
		]]>
	</insert>

	<update id="update">
		<![CDATA[
			UPDATE STAFF
					SET STAFFNAME = #{staffName},
						STAFFPOSITION = #{staffPosition},
						STAFFEDUCATION = #{staffEducation},
						OD = ${od},
						STAFFDESCRIPTION = #{staffDescription},
						UPDATEDATE = CURRENT_TIMESTAMP
			WHERE STAFFID = ${staffId}
		]]>
	</update>

	<update id="updateImagePath">
		<![CDATA[
			UPDATE STAFF
				SET STAFFIMAGEURL = #{staffImageUrl}
			WHERE STAFFID = ${staffId}
		]]>
	</update>

	<delete id="delete">
		<![CDATA[
			DELETE FROM STAFF
				WHERE STAFFID = ${staffId}
		]]>
	</delete>

	<delete id="deleteByArray">
		<![CDATA[
			DELETE FROM STAFF
				WHERE STAFFID = 0
		]]>
		<if test="ids != null and ids != ''">
			OR STAFFID IN
			<foreach collection="ids" open="(" close=")" item="id"
				separator=",">
				${id}
			</foreach>
		</if>
	</delete>

</mapper>