<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.SynergyMapper">
	<insert id="save" parameterType="long">
		<![CDATA[
		INSERT INTO SYNERGY (
		S_USER_ID, S_PROJECT_ID, S_RATIO,S_USER_NAME
		) VALUES (
		${userId}, ${projectId}, ${ratio},#{userName}
		)
		]]>
	</insert>

	<delete id="delete" parameterType="Long">
		<![CDATA[
		DELETE FROM SYNERGY WHERE s_id= ${synergyId}
		]]>
	</delete>

	<update id="update" parameterType="Long">
		<![CDATA[
			UPDATE SYNERGY SET
		]]>		
		<if test="projectId != null and projectId != '' ">
			S_PROJECT_ID= ${projectId} ,
		</if>
		<if test="userId != null and userId != '' ">
			S_USER_ID=${userId},
		</if>
		<if test="userName != null and userName != '' ">
			S_USER_NAME=#{userName},
		</if>
		<if test="ratio != null and ratio != '' ">
			S_RATIO=#{ratio},
		</if>
		<![CDATA[
		s_update_time=CURRENT_TIMESTAMP
		WHERE 
		s_id=${synergyId}
		]]>		
	</update>

	<select id="findSynergyById" resultType="Synergy">
		<![CDATA[
			SELECT 
				sy.S_CREATE_TIME AS createTime,
				sy.S_ID AS synergyId,
				sy.S_PROJECT_ID AS projectId,
				sy.S_RATIO AS ratio,
				sy.S_UPDATE_TIME AS updateTime,
				sy.S_USER_ID AS userId,
				sy.S_USER_NAME AS userName 
			FROM SYNERGY sy 
			LEFT JOIN
			INDENT_PROJECT ip ON sy.s_project_id = ip.ip_id
			WHERE   ip.ip_state <> 1 AND ip.ip_state <> 2 AND
			sy.S_ID = ${synergyId}
		]]>
	</select>
	
	<select id="findSynergyByProjectId" resultType="Synergy">
		<![CDATA[
			SELECT 
				sy.S_CREATE_TIME AS createTime,
				sy.S_ID AS synergyId,
				sy.S_PROJECT_ID AS projectId,
				sy.S_RATIO AS ratio,
				sy.S_UPDATE_TIME AS updateTime,
				sy.S_USER_ID AS userId,
				sy.S_USER_NAME AS userName 
			FROM SYNERGY sy
			LEFT JOIN
			INDENT_PROJECT ip ON sy.s_project_id = ip.ip_id
			WHERE   ip.ip_state <> 1 AND ip.ip_state <> 2 AND
			sy.S_PROJECT_ID = ${projectId} 
		]]>
	</select>
	
	<select id="findSynergyByUserId" resultType="Synergy">
		<![CDATA[
			SELECT 
				sy.S_CREATE_TIME AS createTime,
				sy.S_ID AS synergyId,
				sy.S_PROJECT_ID AS projectId,
				sy.S_RATIO AS ratio,
				sy.S_UPDATE_TIME AS updateTime,
				sy.S_USER_ID AS userId,
				sy.S_USER_NAME AS userName
			FROM SYNERGY sy
			LEFT JOIN
			INDENT_PROJECT ip ON sy.s_project_id = ip.ip_id
			WHERE   ip.ip_state <> 1 AND ip.ip_state <> 2 AND
			sy.S_USER_ID = ${userId} 
		]]>
	</select>
	
	<select id="findSynergyList" resultType="Synergy">
		<![CDATA[
			SELECT 
				sy.S_ID AS synergyId,
				sy.S_PROJECT_ID AS projectId,
				e.employeeRealName AS userName, 
				sy.S_RATIO AS ratio
			FROM SYNERGY sy 
			LEFT JOIN EMPLOYEE e
				ON e.employeeId = sy.S_USER_ID
			GROUP BY sy.`s_project_id`,sy.s_id
		]]>
	</select>
</mapper>