<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.TeamMapper">

	<!-- <cache /> -->

	<select id="listWithPagination" resultType="Team">
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   t.TEAMDESCRIPTION AS teamDescription,
				   t.RECOMMENDATION AS recommendation,
				   t.CITY AS city,
				   t.LINKMAN AS linkman,
				   t.WEBCHAT AS webchat,
				   t.QQ AS qq,
				   t.OFFICIALSITE AS officialSite,
				   t.SCALE AS scale,
				   t.ESTABLISHDATE AS establishDate,
				   t.BUSINESS AS business,
				   t.BUSINESSDESC AS businessDesc,
				   t.PRICERANGE AS priceRange,
				   t.DEMAND AS demand,
				   t.INFORESOURCE AS infoResource,
				   t.DESCRIPTION AS description,
				   DATE_FORMAT(t.CREATEDATE,'%Y-%m-%d %T') AS createDate,
				   DATE_FORMAT(t.UPDATEDATE,'%Y-%m-%d %T') AS updateDate,
				   t.PHONENUMBER AS phoneNumber,
				   t.EMAIL AS email,
				   t.ADDRESS AS address,
				   t.FLAG AS flag,
				   t.LOGINNAME AS loginName,
				   p.PROVINCE AS teamProvinceName,
				   c.CITY AS teamCityName,
				   t.TEAMPROVINCE AS teamProvince,
				   t.TEAMCITY AS teamCity
		    FROM TEAM t  
		    	LEFT JOIN  PROVINCE p ON t.teamProvince = p.provinceID 
				LEFT JOIN CITY c on t.teamCity = c.cityID
			WHERE 1 = 1
				AND t.flag <> 3
		]]>
		<if test="teamId != null and teamId != ''">
			AND t.TEAMID = ${teamId}
		</if>
		<if test="flag != null and flag != ''">
			AND t.FLAG = ${flag}
		</if>
		<if test="priceRange != null and priceRange != ''">
			AND t.PRICERANGE = #{priceRange}
		</if>
		<if test="teamName != null and teamName != ''">
			AND t.TEAMNAME LIKE CONCAT('%',#{teamName},'%')
		</if>
		<if test="phoneNumber != null and phoneNumber != ''">
			AND t.PHONENUMBER LIKE CONCAT('%',#{phoneNumber},'%')
		</if>
		<if test="business != null and business != ''">
			<foreach collection="business" item="bus" separator="OR"
				open="AND (" close=")">
				t.BUSINESS LIKE CONCAT(CONCAT('%',#{bus}),'%')
			</foreach>

		</if>
		<![CDATA[
		ORDER BY
		]]>
		<if test="sort != null and sort != '' and order != null and order != ''">
			 ${sort} ${order},
		</if>
		<![CDATA[		   
			t.OD ASC,UPDATEDATE DESC,CREATEDATE DESC
			LIMIT ${begin} , ${limit}
		]]>
	</select>

	<select id="maxSize" resultType="long">
		<![CDATA[
			SELECT COUNT(1)
			FROM TEAM t
				WHERE 1 = 1
					AND t.flag <> 3
		]]>
		<if test="teamId != null and teamId != ''">
			AND t.TEAMID = ${teamId}
		</if>
		<if test="teamName != null and teamName != ''">
			AND t.TEAMNAME LIKE CONCAT('%',#{teamName},'%')
		</if>
		<if test="flag != null and flag != ''">
			AND t.FLAG = #{flag}
		</if>

		<if test="loginName != null and loginName != ''">
			AND t.LOGINNAME = #{loginName}
		</if>

		<if test="priceRange != null and priceRange != ''">
			AND t.PRICERANGE = #{priceRange}
		</if>
		<if test="phoneNumber != null and phoneNumber != ''">
			AND t.PHONENUMBER LIKE CONCAT('%',#{phoneNumber},'%')
		</if>
		<if test="business != null and business != ''">
			<foreach collection="business" item="bus" separator="OR"
				open="AND (" close=")">
				t.BUSINESS LIKE CONCAT(CONCAT('%',#{bus}),'%')
			</foreach>

		</if>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="teamId"
		parameterType="Team">
		<![CDATA[
			INSERT INTO TEAM (
				TEAMNAME ,
				TEAMPHOTOURL ,
				TEAMDESCRIPTION ,
				OD,
				PHONENUMBER,
				PASSWORD,
				EMAIL,
				ADDRESS,
				FLAG,
				LOGINNAME,
				RECOMMENDATION,
				CITY,
				LINKMAN,
				WEBCHAT,
				QQ,
				OFFICIALSITE,
				SCALE,
				ESTABLISHDATE,
				BUSINESS,
				BUSINESSDESC,
				PRICERANGE,
				DEMAND,
				INFORESOURCE,
				DESCRIPTION,
				QQUNIQUE,
				WBUNIQUE,
				WECHATUNIQUE,
				TEAMCITY,
				TEAMPROVINCE
			) VALUES (
				#{teamName},
				#{teamPhotoUrl},
				#{teamDescription},
				${od},
				#{phoneNumber},
				#{password},
				#{email},
				#{address},
				#{flag},
				#{loginName},
				#{recommendation},
				${city},
				#{linkman},
				#{webchat},
				#{qq},
				#{officialSite},
				#{scale},
				#{establishDate},
				#{business},
				#{businessDesc},
				${priceRange},
				#{demand},
				${infoResource},
				#{description},
				#{qqUnique},
				#{wbUnique},
				#{wechatUnique},
				#{teamCity},
				#{teamProvince}
			)
		]]>
	</insert>

	<delete id="delete">
		<![CDATA[
			DELETE FROM TEAM
				WHERE TEAMID = ${teamId}
		]]>
	</delete>

	<update id="update">
		<![CDATA[
			UPDATE TEAM
				SET TEAMNAME = #{teamName},
					TEAMDESCRIPTION = #{teamDescription},
					EMAIL = #{email},
					ADDRESS = #{address},
					FLAG = ${flag},
					RECOMMENDATION = #{recommendation},
					CITY = ${city},
					LINKMAN = #{linkman},
					WEBCHAT = #{webchat},
					QQ = #{qq},
					OFFICIALSITE = #{officialSite},
					SCALE = #{scale},
					ESTABLISHDATE = #{establishDate},
					BUSINESS = #{business},
					BUSINESSDESC = #{businessDesc},
					PRICERANGE = ${priceRange},
					DEMAND = #{demand},
					INFORESOURCE = ${infoResource},
					DESCRIPTION = #{description},
					PHONENUMBER = #{phoneNumber}
		]]>
		<if test="od != null and od != ''">
			<![CDATA[
				,OD = ${od}
			]]>
		</if>
		<if test="loginName != null and loginName != ''">
			<![CDATA[
				,LOGINNAME = #{loginName}
			]]>
		</if>
		<if test="phoneNumber != null and phoneNumber != ''">
			<![CDATA[
				,PHONENUMBER = #{phoneNumber}
			]]>
		</if>
		<if test="teamProvince != null and teamProvince != ''">
			<![CDATA[
				,TEAMPROVINCE = #{teamProvince}
			]]>
		</if>
		<if test="teamCity != null and teamCity != ''">
			<![CDATA[
				,TEAMCITY = #{teamCity}
			]]>
		</if>
		<![CDATA[
			WHERE TEAMID = ${teamId}
		]]>
	</update>

	<update id="saveTeamPhotoUrl">
		<![CDATA[
			UPDATE TEAM
				SET TEAMPHOTOURL = #{teamPhotoUrl}
			WHERE TEAMID = ${teamId}
		]]>
	</update>

	<select id="findTeamByArray" resultType="Team">
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMPHOTOURL AS teamPhotoUrl
			FROM TEAM t
			WHERE 1 = 1 
				AND t.flag <> 3
		]]>
		<if test="ids != null and ids != ''">
			AND TEAMID IN
			<foreach collection="ids" open="(" close=")" item="id"
				separator=",">
				${id}
			</foreach>
		</if>
	</select>

	<select id="findTeamById" resultType="Team">
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.FLAG AS flag,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   t.TEAMDESCRIPTION AS teamDescription,
				   t.RECOMMENDATION AS recommendation,
				   t.CITY AS city,
				   t.LINKMAN AS linkman,
				   t.WEBCHAT AS webchat,
				   t.QQ AS qq,
				   t.OFFICIALSITE AS officialSite,
				   t.SCALE AS scale,
				   t.ESTABLISHDATE AS establishDate,
				   t.BUSINESS AS business,
				   t.BUSINESSDESC AS businessDesc,
				   t.PRICERANGE AS priceRange,
				   t.DEMAND AS demand,
				   t.INFORESOURCE AS infoResource,
				   t.DESCRIPTION AS description,
				   t.PHONENUMBER AS phoneNumber,
				   t.EMAIL AS email,
				   t.QQUNIQUE as qqUnique,
				   t.WECHATUNIQUE as wechatUnique,
				   t.WBUNIQUE as wbUnique,
				   t.ADDRESS AS address,
				   t.LOGINNAME AS loginName,
				   t.TEAMCITY AS teamCity,
				   t.TEAMPROVINCE AS teamProvince,
				   p.PROVINCE AS teamProvinceName,
				   c.CITY AS teamCityName 
			FROM TEAM t
			LEFT JOIN  PROVINCE p ON t.TEAMPROVINCE = p.provinceID 
			LEFT JOIN CITY c ON t.TEAMCITY = c.cityID	 
			WHERE TEAMID = ${teamId}
		]]>
	</select>

	<select id="getAll" resultType="Team">
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   t.TEAMDESCRIPTION AS teamDescription,
				   t.OD AS od,
				   t.RECOMMENDATION AS recommendation,
				   t.CITY AS city,
				   t.LINKMAN AS linkman,
				   t.WEBCHAT AS webchat,
				   t.QQ AS qq,
				   t.OFFICIALSITE AS officialSite,
				   t.SCALE AS scale,
				   t.ESTABLISHDATE AS establishDate,
				   t.BUSINESS AS business,
				   t.BUSINESSDESC AS businessDesc,
				   t.PRICERANGE AS priceRange,
				   t.DEMAND AS demand,
				   t.INFORESOURCE AS infoResource,
				   t.DESCRIPTION AS description,
				   t.EMAIL AS email,
				   t.ADDRESS AS address,
				   t.LOGINNAME AS loginName,
				   t.PHONENUMBER AS phoneNumber
			FROM TEAM t
			WHERE 1 = 1
				AND TEAMNAME != ''
				AND t.flag <> 3
		]]>
	</select>

	<select id="checkTeam" resultType="Team">
		<!-- WHERE t.LOGINNAME = #{loginName} AND t.PASSWORD = #{password} -->
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   t.TEAMDESCRIPTION AS teamDescription,
				   t.PHONENUMBER AS phoneNumber,
				   t.EMAIL AS email,
				   t.ADDRESS AS address,
				   t.FLAG AS flag,
				   t.LOGINNAME AS loginName,
				   t.RECOMMENDATION AS recommendation,
				   t.WECHATUNIQUE AS wechatUnique,
				   t.QQUNIQUE AS qqUnique,
				   t.WBUNIQUE AS wbUnique
			FROM TEAM t
				 WHERE  t.PHONENUMBER = #{phoneNumber}
		]]>
	</select>

	<select id="findTeamByLoginNameAndPwd" resultType="Team">
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   t.TEAMDESCRIPTION AS teamDescription,
				   t.PHONENUMBER AS phoneNumber,
				   t.EMAIL AS email,
				   t.ADDRESS AS address,
				   t.FLAG AS flag,
				   t.LOGINNAME AS loginName,
				   t.RECOMMENDATION AS recommendation,
				   t.WECHATUNIQUE AS wechatUnique,
				   t.QQUNIQUE AS qqUnique,
				   t.WBUNIQUE AS wbUnique
			FROM TEAM t
				WHERE t.LOGINNAME = #{loginName}
					AND t.PASSWORD = #{password}
		]]>
	</select>

	<update id="recover">
		<![CDATA[
			UPDATE TEAM
				SET PASSWORD = #{password}
			WHERE PHONENUMBER = #{phoneNumber}
		]]>
	</update>

	<update id="updateTeamInfomation">
		<![CDATA[
			UPDATE TEAM
				SET TEAMNAME = #{teamName},
					TEAMDESCRIPTION = #{teamDescription},
					EMAIL = #{email},
					ADDRESS = #{address},
					UPDATEDATE = CURRENT_TIMESTAMP,
					CITY = ${city},
					LINKMAN = #{linkman},
					WEBCHAT = #{webchat},
					QQ = #{qq},
					OFFICIALSITE = #{officialSite},
					SCALE = #{scale},
					ESTABLISHDATE = #{establishDate},
					BUSINESS = #{business},
					BUSINESSDESC = #{businessDesc},
					PRICERANGE = ${priceRange},
					DEMAND = #{demand},
					INFORESOURCE = ${infoResource},
					DESCRIPTION = #{description},
					TEAMPROVINCE = #{teamProvince},
					teamCity = #{teamCity}
		]]>

		<if test="phoneNumber != null and phoneNumber != ''">
			,PHONENUMBER = #{phoneNumber}
		</if>
		
		<![CDATA[
			WHERE TEAMID = ${teamId}
		]]>
	</update>

	<update id="updatePasswordByLoginName">
		<![CDATA[
			UPDATE TEAM
				SET PASSWORD = #{password}
			WHERE LOGINNAME = #{loginName}
		]]>
	</update>

	<update id="updateTeamStatus">
		<![CDATA[
			UPDATE TEAM
				SET FLAG = 0
			WHERE TEAMID = ${teamId}
		]]>
	</update>

	<select id="checkExist" resultType="long">
		<![CDATA[
			SELECT COUNT(1)
			FROM TEAM t
				WHERE 1 = 1
		]]>
		<if test="phoneNumber != null and phoneNumber != ''">
			AND t.PHONENUMBER = #{phoneNumber}
		</if>
		<if test="loginName != null and loginName != ''">
			AND t.LOGINNAME = #{loginName}
		</if>
	</select>


	<select id="findTeamByNameOrContact" resultType="Team">
		<![CDATA[
			SELECT 
				   t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.PHONENUMBER AS phoneNumber,
				   t.LINKMAN AS loginName
			 FROM TEAM t WHERE FLAG = 1 
		]]>

		<if test="teamName != null and teamName != ''">
			AND t.TEAMNAME LIKE CONCAT('%',#{teamName},'%')
		</if>
		<if test="loginName != null and loginName != ''">
			AND t.LOGINNAME LIKE CONCAT('%',#{loginName},'%')
		</if>
		<if
			test="(loginName == null or loginName == '') and (teamName == null or teamName == '') ">
			AND 1=2
		</if>
	</select>

	<select id="verificationTeamExist" resultType="Team">
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   t.TEAMDESCRIPTION AS teamDescription,
				   t.PHONENUMBER AS phoneNumber,
				   t.LOGINNAME AS loginName,
				   t.WECHATUNIQUE AS wechatUnique,
				   t.QQUNIQUE AS qqUnique,
				   t.WBUNIQUE AS wbUnique
			FROM TEAM t 
			WHERE QQUNIQUE = #{qqUnique}
				OR wbUnique = #{wbUnique}
				OR wechatUnique = #{wechatUnique}
		]]>
	</select>

	<update id="updateUniqueId">
		<![CDATA[
			UPDATE TEAM 
			SET
			UPDATEDATE = CURRENT_TIMESTAMP
		]]>

		<if test="qqUnique != null and qqUnique != ''">
			,QQUNIQUE = #{qqUnique}
		</if>

		<if test="wbUnique != null and wbUnique != ''">
			,WBUNIQUE = #{wbUnique}
		</if>

		<if test="wechatUnique != null and wechatUnique != ''">
			,WECHATUNIQUE = #{wechatUnique}
		</if>
		<if test="phoneNumber != null and phoneNumber != ''">
			,PHONENUMBER = #{phoneNumber}
		</if>
		<where>
			TEAMID = ${teamId}
		</where>
	</update>

	<update id="updateTeamAccount">
		<![CDATA[
			UPDATE TEAM 
			SET
			UPDATEDATE = CURRENT_TIMESTAMP
		]]>

		<if test="loginName != null and loginName != ''">
			,LOGINNAME = #{loginName}
		</if>
		<if test="password != null and password != ''">
			,PASSWORD = #{password}
		</if>
		<where>
			TEAMID = ${teamId}
		</where>
	</update>
	
	<update id="unBindThird">
		<![CDATA[
			UPDATE TEAM
			   SET 
		]]>
		<if test="thirdLoginType=='qq'">
			 QQUNIQUE =''
		</if>
		
		<if test="thirdLoginType=='wb'">
			 WBUNIQUE =''
		</if>
		
		<if test="thirdLoginType=='wechat'">
			 WECHATUNIQUE =''
		</if>
		<![CDATA[
			WHERE TEAMID = ${teamId}
		]]>
	</update>
	
	<select id="verificationTeamExistByThirdLogin" resultType="Team">
		<![CDATA[
			SELECT t.TEAMID AS teamId,
				   t.TEAMNAME AS teamName,
				   t.TEAMPHOTOURL AS teamPhotoUrl,
				   t.TEAMDESCRIPTION AS teamDescription,
				   t.PHONENUMBER AS phoneNumber,
				   t.LOGINNAME AS loginName,
				   t.WECHATUNIQUE AS wechatUnique,
				   t.QQUNIQUE AS qqUnique,
				   t.WBUNIQUE AS wbUnique
			FROM TEAM t 
			WHERE QQUNIQUE = #{uniqueId}
			   OR WBUNIQUE = #{uniqueId}
			   OR WECHATUNIQUE = #{uniqueId}
		]]>
	</select>
	
	<update id="modifyTeamPhone">
		<![CDATA[
			UPDATE TEAM
				SET PHONENUMBER =  #{phoneNumber}
			WHERE TEAMID = ${teamId}
		]]>
	</update>
	
	<update id="resetMasterWork">
		UPDATE PRODUCT SET masterWork = 0 WHERE teamId = ${teamId}
	</update>
	
	<update id="setMasterWork">
		UPDATE PRODUCT SET masterWork = ${status} WHERE productId = ${productId}
	</update>
	<select id="getTeamInfo" resultType="Team">
		<![CDATA[
			SELECT t.TEAMNAME AS teamName,
			t.TEAMID AS teamId,
			p.PROVINCE AS teamProvinceName,
			c.CITY AS teamCityName,
			t.TEAMDESCRIPTION AS teamDescription,
			t.BUSINESS AS business,
			t.TEAMPHOTOURL AS teamPhotoUrl,
			t.FLAG AS flag
			FROM TEAM t 
				LEFT JOIN  PROVINCE p ON t.TEAMPROVINCE = p.provinceID 
				LEFT JOIN CITY c on t.TEAMCITY = c.cityID
			WHERE TEAMID = ${teamId}
		]]>
	</select>
	<update id="updateTeamDescription">
		UPDATE TEAM SET description = #{description} WHERE TEAMID = ${teamId}
	</update>
	<select id="getLatestTmpByTeamId" resultType="Team">
		<![CDATA[
			SELECT 
				tt.id,	
				tt.TEAM_ID teamId,
				tt.TEAM_NAME teamName,
				tt.LINKMAN linkMan,
				tt.WEBCHAT webchat,
				tt.QQ qq,
				tt.EMAIL email,
				tt.ADDRESS address,
				tt.TEAM_PROVINCE teamProvince,
				tt.TEAM_CITY teamCity,
				tt.PRICE_RANGE priceRange,
				tt.INFO_RESOURCE infoResource,
				tt.BUSINESS business,
				tt.TEAM_DESCRIPTION teamDescription,
				tt.SCALE scale ,
				tt.DEMAND demand,
				tt.ESTABLISHDATE establishDate,
				tt.OFFICIALSITE officialSite,
				tt.BUSINESS_DESCRIPTION businessDesc,
				t.TEAMPHOTOURL teamPhotoUrl,
				t.PHONENUMBER phoneNumber,
				t.RECOMMENDATION recommendation,
				t.DESCRIPTION description
			 FROM TEAM_TMP tt
			 LEFT JOIN TEAM t ON tt.TEAM_ID = t.TEAMID
			 WHERE TEAM_ID = ${teamId} AND STATUS = 1
		]]>
	</select>
</mapper>