<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.UserMapper">

	<cache />
	
	<select id="all" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.PASSWORD AS password,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.REALNAME AS realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM USERS u
			ORDER BY CREATEDATE,ID DESC
		]]>
	</select>
	
	<select id="listWithPagination" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.PASSWORD AS password,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.REALNAME as realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM USERS u
			WHERE 1 = 1
		]]>
		<if test="userName != null and userName != ''">
			AND u.USERNAME LIKE CONCAT(CONCAT('%',#{userName}),'%')
		</if>
		<![CDATA[
			ORDER BY CREATEDATE,ID DESC
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<select id="maxSize" resultType="long">
		<![CDATA[
			SELECT COUNT(1) 
				FROM USERS u
			WHERE 1 = 1
		]]>
		<if test="userName != null and userName != ''">
			AND u.USERNAME LIKE CONCAT(CONCAT('%',#{userName}),'%')
		</if>
	</select>
	
	<select id="findUserById" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.PASSWORD AS password,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.REALNAME as realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM USERS u
			WHERE u.ID = ${id}
		]]>
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="User">
		<![CDATA[
			INSERT INTO USERS(
				USERNAME,
				TELEPHONE,
				PASSWORD,
				EMAIL,
				BIRTHDAY,
				IMGURL,
				SEX,
				REALNAME,
				QQ,
				USERCOMPANY,
				CLIENTLEVEL
			) VALUES(
				#{userName},
				#{telephone},
				#{password},
				#{email},
				DATE_FORMAT(#{birthday},'%Y-%m-%d'),
				#{imgUrl},
				${sex},
				#{realName},
				#{qq},
				#{userCompany},
				${clientLevel}
			)
		]]>
	</insert>
	
	<insert id="simpleSave" useGeneratedKeys="true" keyProperty="id" parameterType="User">
		<![CDATA[
			INSERT INTO USERS(
				USERNAME,
				TELEPHONE,
				REALNAME
			) VALUES(
				#{userName},
				#{telephone},
				#{realName}
			)
		]]>
	</insert>
	
	<delete id="delete">
		<![CDATA[
			DELETE FROM USERS
				WHERE ID = ${id}
		]]>
	</delete>
	
	<update id="update">
		<![CDATA[
			UPDATE USERS
			   SET USERNAME = #{userName},
				   TELEPHONE = #{telephone},
				   EMAIL = #{email},
		]]>
		<if test="birthday != null and birthday != ''">
			BIRTHDAY = DATE_FORMAT(#{birthday},'%Y-%m-%d'),
		</if>
		<![CDATA[
				   IMGURL = #{imgUrl},
				   SEX = ${sex},
				   REALNAME = #{realName},
				   QQ = #{qq},
				   USERCOMPANY = #{userCompany},
				   CLIENTLEVEL = ${clientLevel}
			WHERE ID = ${id}
		]]>
	</update>
	
	<select id="findUserByAttr" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.PASSWORD AS password,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.REALNAME as realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM USERS u
			WHERE u.PASSWORD = #{password}
		]]>
		<if test="userName != null and userName != ''">
			AND u.TELEPHONE = #{userName}
			OR  u.EMAIL = #{userName}
		</if>
	</select>
	
	<select id="validationPhone" resultType="int">
		<![CDATA[
			SELECT COUNT(1)
				FROM USERS u
			WHERE u.TELEPHONE = #{telephone}
		]]>
	</select>
	
	<update id="recover">
		<![CDATA[
			UPDATE USERS
				SET PASSWORD = #{password}
			WHERE 1 = 1
		]]>
		<if test="userName != null and userName != ''">
			AND TELEPHONE = #{userName}
			OR  EMAIL = #{userName}
		</if>
	</update>
	
	<update id="modifyUserInfo">
		<![CDATA[
			UPDATE USERS
				SET USERNAME = #{userName},
					SEX = ${sex},
					REALNAME = #{realName},
					email = #{email},
					qq = #{qq},
					USERCOMPANY = #{userCompany}
			WHERE id = ${id}
		]]>
	</update>
	
	<update id="modifyUserPassword">
		<![CDATA[
			UPDATE USERS
				SET PASSWORD = #{password}
			WHERE id = ${id}
		]]>
	</update>
	
	<update id="modifyUserPhone">
		<![CDATA[
			UPDATE USERS
				SET TELEPHONE = #{telephone}
			WHERE id = ${id}
		]]>
	</update>
	
	<update id="modifyUserPhoto">
		<![CDATA[
			UPDATE USERS
				SET IMGURL = #{imgUrl}
			WHERE id = ${id}
		]]>
	</update>
	
	<select id="verificationUserExistByThirdLogin" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.REALNAME as realName
			FROM USERS u
			WHERE QQUNIQUE = #{uniqueId}
			   OR WBUNIQUE = #{uniqueId}
			   OR WECHATUNIQUE = #{uniqueId}
		]]>
	</select>
	
	<insert id="saveByThirdLogin" useGeneratedKeys="true" keyProperty="id" parameterType="User">
		<![CDATA[
			INSERT INTO USERS(
				USERNAME,
				IMGURL,
				QQUNIQUE,
				WBUNIQUE,
				WECHATUNIQUE
			) VALUES(
				#{userName},
				#{imgUrl},
				#{qqUnique},
				#{wbUnique},
				#{wechatUnique}
			)
		]]>
	</insert>
	
	
	<select id="findUserByNameOrRealName" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.TELEPHONE AS telephone,
				   u.REALNAME as realName,
				   u.USERCOMPANY AS userCompany
			FROM USERS u
				WHERE 1=1
		]]>
		<if test="userName != null and userName != ''">
			AND u.USERNAME LIKE CONCAT('%',#{userName},'%') 
		</if>
		<if test="realName != null and realName != ''">
			AND u.REALNAME LIKE CONCAT('%',#{realName},'%') 
		</if>
		<if test="(userName == null or userName == '') and (realName == null or realName == '') ">
			AND 1=2
		</if>
	</select>
</mapper>