<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.UserMapper">

	<select id="all" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.ID AS userId,
				   u.USERNAME AS userName,
				   u.PASSWORD AS password,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.REALNAME AS realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM USERS u
			ORDER BY CREATEDATE,ID DESC
		]]>
	</select>

	<select id="listWithPagination" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.PASSWORD AS password,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.REALNAME as realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate,
				   NOTE AS note,
				   u.CUSTOMERSOURCE AS customerSource,
				   u.WECHAT AS weChat,
				   u.KINDLY_SEND AS kindlySend,
				   u.PREFERENCE AS preference,
				   DATE_FORMAT(u.UPDATE_TIME,'%Y-%m-%d %T') AS updateTime,
				   DATE_FORMAT(u.FOLLOW_TIME,'%Y-%m-%d') AS followTime
			FROM USERS u
			WHERE 1 = 1
		]]>
		<if test="userName != null and userName != ''">
			AND u.USERNAME LIKE CONCAT(CONCAT('%',#{userName}),'%')
		</if>
		<if test="telephone != null and telephone != ''">
			AND u.TELEPHONE LIKE CONCAT(CONCAT('%',#{telephone}),'%')
		</if>
		<if test="beginTime != null and beginTime != '' ">
			<![CDATA[
				AND DATE_FORMAT(u.FOLLOW_TIME,'%Y-%m-%d') >= #{beginTime}
			]]>
		</if>

		<if test="endTime != null  and endTime != ''">
			<![CDATA[
				AND DATE_FORMAT(u.FOLLOW_TIME,'%Y-%m-%d') <= #{endTime}
			]]>
		</if>
		<choose>
			<when test="clientLevel == null">
				AND u.clientLevel IS NULL
			</when>

			<when test="clientLevel != null and clientLevel != -1">
				AND u.clientLevel = ${clientLevel}
			</when>
		</choose>
		<![CDATA[
		ORDER BY
		]]>
		<if test="sort != null and sort != '' and order != null and order != ''">
			${sort} ${order},
		</if>
		<![CDATA[
			CREATEDATE,ID DESC
			LIMIT ${begin} , ${limit}
		]]>
	</select>

	<select id="maxSize" resultType="long">
		<![CDATA[
			SELECT COUNT(1) 
				FROM USERS u
			WHERE 1 = 1
		]]>
		<if test="userName != null and userName != ''">
			AND u.USERNAME LIKE CONCAT(CONCAT('%',#{userName}),'%')
		</if>
		<if test="telephone != null and telephone != ''">
			AND u.TELEPHONE LIKE CONCAT(CONCAT('%',#{telephone}),'%')
		</if>
		<choose>
			<when test="clientLevel == null">
				AND u.clientLevel IS NULL
			</when>

			<when test="clientLevel != null and clientLevel != -1">
				AND u.clientLevel = ${clientLevel}
			</when>
		</choose>
	</select>

	<select id="findUserById" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.PASSWORD AS password,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.PREFERENCE AS preference,
				   u.KINDLY_SEND AS kindly_send,
				   u.WECHAT AS weChat,
				   u.REALNAME as realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate,
				   u.LOGINNAME AS loginName,
				   u.CUSTOMERSOURCE AS customerSource,
				   u.QQUNIQUE AS qqUnique,
				   u.WBUNIQUE AS wbUnique,
				   u.WECHATUNIQUE AS wechatUnique
			FROM USERS u
			WHERE u.ID = ${id}
		]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="User">
		<![CDATA[
			INSERT INTO USERS(
				USERNAME,
				TELEPHONE,
				PASSWORD,
				EMAIL,
				BIRTHDAY,
				IMGURL,
				SEX,
				REALNAME,
				QQ,
				USERCOMPANY,
				NOTE,
				CUSTOMERSOURCE,
				WECHAT,
				KINDLY_SEND,
				FOLLOW_TIME,
				UPDATE_TIME
		]]>
		<if test="clientLevel != null">
			,CLIENTLEVEL
		</if>
		<if test="preference != null">
			,PREFERENCE
		</if>
				
		<![CDATA[
			) VALUES(
				#{userName},
				#{telephone},
				#{password},
				#{email},
				DATE_FORMAT(#{birthday},'%Y-%m-%d'),
				#{imgUrl},
				${sex},
				#{realName},
				#{qq},
				#{userCompany},
				#{note},
				#{customerSource},
				#{weChat},
				#{kindlySend},
				#{followTime},
				CURRENT_TIMESTAMP
				
		]]>

		<if test="clientLevel != null">
			,${clientLevel}
		</if>
		<if test="preference != null">
			,${preference}
		</if>
		
		<![CDATA[
			)
		]]>
	</insert>

	<insert id="simpleSave" useGeneratedKeys="true" keyProperty="id"
		parameterType="User">
		<![CDATA[
			INSERT INTO USERS(
				USERNAME,
				TELEPHONE,
				REALNAME
			) VALUES(
				#{userName},
				#{telephone},
				#{realName}
			)
		]]>
	</insert>

	<delete id="delete">
		<![CDATA[
			DELETE FROM USERS
				WHERE ID = ${id}
		]]>
	</delete>

	<update id="update">
		<![CDATA[
			UPDATE USERS
			   SET USERNAME = #{userName},
				   TELEPHONE = #{telephone},
				   EMAIL = #{email},
		]]>
		<if test="birthday != null and birthday != ''">
			BIRTHDAY = DATE_FORMAT(#{birthday},'%Y-%m-%d'),
		</if>

		<if test="clientLevel != null">
			CLIENTLEVEL = ${clientLevel},
		</if>
		<if test="clientLevel == -1">
			CLIENTLEVEL = NULL,
		</if>
		<if test="qqUnique != null and qqUnique != ''">
			QQUNIQUE = #{qqUnique},
		</if>

		<if test="wbUnique != null and wbUnique != ''">
			WBUNIQUE = #{wbUnique},
		</if>

		<if test="wechatUnique != null and wechatUnique != ''">
			WECHATUNIQUE = #{wechatUnique},
		</if>
		<if test="preference != null">
			PREFERENCE = ${preference},
		</if>
		<if test="followTime != null and followTime != ''">
			FOLLOW_TIME = DATE_FORMAT(#{followTime},'%Y-%m-%d'),
		</if>
		<if test="updateTime != null and updateTime != ''">
			UPDATE_TIME = CURRENT_TIMESTAMP,

		</if>
		<if test="customerSource != null">
			CUSTOMERSOURCE = ${customerSource},

		</if>
		<if test="kindlySend != null  and kindlySend != ''">
			KINDLY_SEND = #{kindlySend},
		</if>
		<![CDATA[
				   IMGURL = #{imgUrl},
				   SEX = ${sex},
				   REALNAME = #{realName},
				   QQ = #{qq},
				   WECHAT = #{weChat},
				   USERCOMPANY = #{userCompany},
				   NOTE = #{note}
			WHERE ID = ${id}
		]]>
	</update>

	<select id="findUserByAttr" resultType="User">
		<![CDATA[
		   SELECT u.ID AS id,
		   u.USERNAME AS userName,
		   u.PASSWORD AS PASSWORD,
		   u.TELEPHONE AS telephone,
		   u.EMAIL AS email,
		   u.BIRTHDAY AS birthday,
		   u.IMGURL AS imgUrl,
		   u.SEX AS sex,
		   u.QQ AS qq,
		   u.QQUNIQUE AS qqUnique,
		   u.WBUNIQUE AS wbUnique,
		   u.WECHATUNIQUE AS wechatUnique,
		   u.REALNAME AS realName,
		   u.USERCOMPANY AS userCompany,
		   u.CLIENTLEVEL AS clientLevel,
		   u.CUSTOMERSOURCE AS customerSource, 
		   u.KINDLY_SEND AS  kindlySend,
		   u.LOGINNAME AS loginName
			FROM USERS u
			WHERE 1=1
		]]>
		<if test="telephone != null and telephone != ''">
			AND u.TELEPHONE = #{telephone}
		</if>
	</select>

	<select id="validationPhone" resultType="int">
		<![CDATA[
			SELECT COUNT(1)
				FROM USERS u WHERE 1 = 1
		]]>
		<if test="telephone != null and telephone != ''">
			AND u.TELEPHONE = #{telephone}
		</if>
		<if test="loginName != null and loginName != ''">
			AND u.LOGINNAME = #{loginName}
		</if>
	</select>
	<update id="modifyUserLoginName">
		<![CDATA[
			UPDATE USERS
				SET PASSWORD  = #{password},
				loginName = #{loginName} 
				WHERE id = ${id}
		]]>
	</update>

	<update id="recover">
		<![CDATA[
			UPDATE USERS
				SET PASSWORD = #{password}
			WHERE 1 = 1
		]]>
		<if test="userName != null and userName != ''">
			AND TELEPHONE = #{userName}
			OR EMAIL = #{userName}
		</if>
	</update>

	<update id="modifyUserInfo">
		<![CDATA[
			UPDATE USERS
				SET USERNAME = #{userName},
					SEX = ${sex},
					REALNAME = #{realName},
					email = #{email},
					qq = #{qq},
					WECHAT = #{weChat},
					UPDATE_TIME = CURRENT_TIMESTAMP,
					USERCOMPANY = #{userCompany},
					CUSTOMERSOURCE = ${customerSource},
					IMGURL = #{imgUrl}
			WHERE id = ${id}
		]]>
	</update>

	<update id="modifyUserPassword">
		<![CDATA[
			UPDATE USERS
				SET PASSWORD = #{password},
					UPDATE_TIME = CURRENT_TIMESTAMP
			WHERE id = ${id}
		]]>
	</update>

	<update id="modifyUserPhone">
		<![CDATA[
			UPDATE USERS
				SET TELEPHONE = #{telephone},
				UPDATE_TIME = CURRENT_TIMESTAMP
			WHERE id = ${id}
		]]>
	</update>

	<update id="modifyUserPhoto">
		<![CDATA[
			UPDATE USERS
				SET IMGURL = #{imgUrl},
				UPDATE_TIME = CURRENT_TIMESTAMP
			WHERE id = ${id}
		]]>
	</update>

	<select id="verificationUserExistByThirdLogin" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   u.REALNAME AS realName,
				   u.USERCOMPANY AS userCompany,
				   u.LOGINNAME AS loginName,
				   u.CUSTOMERSOURCE AS customerSource,
				   u.PREFERENCE AS preference,
				   u.KINDLY_SEND AS kindly_send,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.QQUNIQUE AS qqUnique,
	   			   u.WBUNIQUE AS wbUnique,
	   			   u.WECHATUNIQUE AS wechatUnique,
				   u.REALNAME AS realName,
				   u.CLIENTLEVEL AS clientLevel
			FROM USERS u
			WHERE QQUNIQUE = #{uniqueId}
			   OR WBUNIQUE = #{uniqueId}
			   OR WECHATUNIQUE = #{uniqueId}
		]]>
	</select>

	<insert id="saveByThirdLogin" useGeneratedKeys="true"
		keyProperty="id" parameterType="User">
		<![CDATA[
			INSERT INTO USERS(
				USERNAME,
				IMGURL,
				PASSWORD,
				TELEPHONE,
				QQUNIQUE,
				WBUNIQUE,
				WECHATUNIQUE
			) VALUES(
				#{userName},
				#{imgUrl},
				#{password},
				#{telephone},
				#{qqUnique},
				#{wbUnique},
				#{wechatUnique}
			)
		]]>
	</insert>


	<select id="findUserByNameOrRealName" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.USERNAME AS userName,
				   u.TELEPHONE AS telephone,
				   u.REALNAME as realName,
				   u.USERCOMPANY AS userCompany
			FROM USERS u
				WHERE 1=1
		]]>
		<if test="userName != null and userName != ''">
			AND u.USERNAME LIKE CONCAT('%',#{userName},'%')
		</if>
		<if test="realName != null and realName != ''">
			AND u.REALNAME LIKE CONCAT('%',#{realName},'%')
		</if>
		<if
			test="(userName == null or userName == '') and (realName == null or realName == '') ">
			AND 1=2
		</if>
	</select>

	<select id="findUnlevelUsers" resultType="Long">
		<![CDATA[
			SELECT COUNT(1)
				FROM USERS
			WHERE NOTE = ''
				AND CLIENTLEVEL IS NULL
		]]>
	</select>

	<select id="findUserByPhone" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.ID AS userId,
				   u.USERNAME AS userName,
				   u.PASSWORD AS PASSWORD,
				   u.TELEPHONE AS telephone,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.LOGINNAME AS loginName,
				   u.CUSTOMERSOURCE AS customerSource,
				   u.PREFERENCE AS preference,
				   u.KINDLY_SEND AS kindly_send,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.QQUNIQUE AS qqUnique,
				   u.WBUNIQUE AS wbUnique,
				   u.WECHATUNIQUE AS wechatUnique,
				   u.REALNAME AS realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM USERS u WHERE u.TELEPHONE=#{telephone}
		]]>
	</select>

	<select id="findUserByLoginNameAndPwd" resultType="User">
		<![CDATA[
			SELECT u.ID AS id,
				   u.ID AS userId,
				   u.USERNAME AS userName,
				   u.PASSWORD AS PASSWORD,
				   u.TELEPHONE AS telephone,
				   u.LOGINNAME as loginName,
				   u.EMAIL AS email,
				   u.IMGURL AS imgUrl,
				   u.SEX AS sex,
				   u.QQ AS qq,
				   u.QQUNIQUE AS qqUnique,
				   u.WBUNIQUE AS wbUnique,
				   u.WECHATUNIQUE AS wechatUnique,
				   u.REALNAME AS realName,
				   u.USERCOMPANY AS userCompany,
				   u.CLIENTLEVEL AS clientLevel,
				   DATE_FORMAT(u.BIRTHDAY,'%Y-%m-%d') AS birthday,
				   DATE_FORMAT(u.CREATEDATE,'%Y-%m-%d %T') AS createDate
			FROM USERS u WHERE  u.LOGINNAME=#{loginName}
			               AND  u.PASSWORD=#{password}
		]]>
	</select>

	<update id="unBindThird">
		<![CDATA[
			UPDATE USERS
			   SET 
		]]>
		<if test="lType=='qq'">
			QQUNIQUE =''
		</if>

		<if test="lType=='wb'">
			WBUNIQUE =''
		</if>

		<if test="lType=='wechat'">
			WECHATUNIQUE =''
		</if>
		<![CDATA[
			WHERE ID = ${id}
		]]>
	</update>


	<select id="findUserByUserName" resultType="User">
		<![CDATA[
			SELECT ID FROM USERS  WHERE USERNAME = #{userName} 
		]]>
	</select>
</mapper>