<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panfeng.persist.VersionManagerMapper">

	<select id="findManagerById" resultType="VersionManager">
		<![CDATA[
			SELECT m.MANAGERID AS managerId,
				   m.MANAGERLOGINNAME AS managerLoginName,
				   m.MANAGERREALNAME AS managerRealName,
				   m.MANAGERPASSWORD AS managerPassword,
				   m.MANAGERDESCRIPTION AS managerDescription,
				   m.MANAGEREMAIL AS managerEmail,
				   m.PHONENUMBER AS phoneNumber,
				   DATE_FORMAT(m.UPDATEDATE,'%Y-%m-%d %T') AS updateDate
			FROM VERSIONMANAGER m 
			WHERE 1 = 1
					AND m.MANAGERID = ${managerId}
		]]>
	</select>
	
	<select id="listWithPagination" resultType="VersionManager">
		<![CDATA[
			SELECT m.MANAGERID AS managerId,
				   m.MANAGERLOGINNAME AS managerLoginName,
				   m.MANAGERREALNAME AS managerRealName,
				   m.MANAGERDESCRIPTION AS managerDescription,
				   m.MANAGEREMAIL AS managerEmail,
				   m.PHONENUMBER AS phoneNumber,
				   DATE_FORMAT(m.UPDATEDATE,'%Y-%m-%d %T') AS updateDate
			FROM VERSIONMANAGER m 
			WHERE 1 = 1
		]]>
		<if test="managerLoginName != null and managerLoginName != ''">
			AND m.MANAGERLOGINNAME LIKE CONCAT(CONCAT('%',#{managerLoginName}),'%')
		</if>
		<![CDATA[
			ORDER BY m.MANAGERID DESC
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<select id="maxSize" resultType="java.lang.Long">
		<![CDATA[
			SELECT COUNT(1)
			FROM VERSIONMANAGER m 
			WHERE 1 = 1
		]]>
		<if test="managerLoginName != null and managerLoginName != ''">
			AND m.MANAGERLOGINNAME LIKE CONCAT(CONCAT('%',#{managerLoginName}),'%')
		</if>
	</select>

	<select id="doLogin" resultType="VersionManager">
		<![CDATA[
			SELECT m.MANAGERID AS managerId,
				   m.MANAGERLOGINNAME AS managerLoginName,
				   m.MANAGERREALNAME AS managerRealName,
				   m.MANAGERPASSWORD AS managerPassword,
				   m.MANAGERDESCRIPTION AS managerDescription,
				   m.MANAGEREMAIL AS managerEmail,
				   m.PHONENUMBER AS phoneNumber,
				   DATE_FORMAT(m.UPDATEDATE,'%Y-%m-%d %T') AS updateDate
			FROM VERSIONMANAGER m 
			WHERE  m.MANAGERLOGINNAME = #{loginName}
			   AND m.MANAGERPASSWORD = #{password}
		]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="managerId"
		parameterType="VersionManager">
		<![CDATA[
			INSERT INTO VERSIONMANAGER(MANAGERLOGINNAME,
				   MANAGERREALNAME,
				   MANAGERPASSWORD,
				   MANAGERDESCRIPTION,
				   MANAGEREMAIL,
				   PHONENUMBER)
			VALUES (
				#{managerLoginName},
				#{managerRealName},
				#{managerPassword},
				#{managerDescription},
				#{managerEmail},
				#{phoneNumber}
			)
		]]>
	</insert>
	
	<update id="update">
		<![CDATA[
			UPDATE VERSIONMANAGER
					SET MANAGERLOGINNAME = #{managerLoginName},
						MANAGERREALNAME = #{managerRealName},
		]]>
			<if test="managerPassword != null and managerPassword != ''">
						MANAGERPASSWORD = #{managerPassword},
			</if>
			
			<if test="phoneNumber != null and phoneNumber != ''">
						PHONENUMBER = #{phoneNumber},
			</if>
		<![CDATA[
						MANAGERDESCRIPTION = #{managerDescription},
						MANAGEREMAIL = #{managerEmail},
						UPDATEDATE = CURRENT_TIMESTAMP
			WHERE MANAGERID = ${managerId}
		]]>
		
	</update>
	
	<update id="editPassword">
		<![CDATA[
			UPDATE VERSIONMANAGER
					SET MANAGERPASSWORD = #{password},
						UPDATEDATE = CURRENT_TIMESTAMP
			WHERE PHONENUMBER = #{phoneNumber}
		]]>
		
	</update>
	
	<delete id="delete">
		<![CDATA[
			DELETE FROM VERSIONMANAGER
				WHERE MANAGERID = ${managerId}
		]]>
	</delete>
	
	<select id="checkPhoneNumber" resultType="java.lang.Long">
		<![CDATA[
			SELECT COUNT(1)
				FROM VERSIONMANAGER
			WHERE PHONENUMBER = #{phoneNumber}
		]]>
	</select>
	
	<select id="all" resultType="VersionManager">
		<![CDATA[
			SELECT m.MANAGERID AS managerId,
				   m.MANAGERREALNAME AS managerRealName
			FROM VERSIONMANAGER m 
			WHERE	m.FLAG = 1
		]]>
	</select>
	
</mapper>